<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="Language-Adder" version="0.1">

<!-- 

	 KnowWE-GlobalTestUtils isn't a KnowWE-Plugin! 
	 This file is necessary to satisfy the KnowWE-Versionator 

-->

</plugin>
