<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-OntoVis" version="1.0">

	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
	</requires>

	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Type" id="ConceptVisType">
		<parameter id="class"
			value="de.knowwe.rdfs.vis.markup.ConceptVisType" />
		<parameter id="name" value="de.knowwe.rdfs.vis.markup.ConceptVisType" />
		<parameter id="description" value="Compatibility backup for ConceptVisualizationType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Type" id="ConceptVisualizationType">
		<parameter id="class"
			value="de.knowwe.rdfs.vis.markup.ConceptVisualizationType" />
		<parameter id="name" value="de.knowwe.rdfs.vis.markup.ConceptVisualizationType" />
		<parameter id="description" value="Visualizes concepts" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
		<parameter id="css" value="d3force.css" />
		<parameter id="css" value="d3tree.css" />
		<parameter id="css" value="d3wheel.css" />
		<parameter id="css" value="menustyling.css" />
		<parameter id="script" value="d3.v3.js" />
		<parameter id="script" value="d3force.js" />
		<parameter id="script" value="d3tree.js" />
		<parameter id="script" value="d3wheel.js" />
		<parameter id="script" value="d3download.js" />
		<parameter id="script" value="contextmenu.js" />
		<parameter id="script" value="KnowWe-Plugin-OntoVis.js" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Type" id="SparqlVisType">
		<parameter id="class"
			value="de.knowwe.rdfs.vis.markup.sparql.SparqlVisType" />
		<parameter id="name" value="SparqlVisType" />
		<parameter id="description" value="Compatibility backup for SparqlVisualizationType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="SparqlVisualizationType">
		<parameter id="class"
			value="de.knowwe.rdfs.vis.markup.sparql.SparqlVisualizationType" />
		<parameter id="name" value="SparqlVisualizationType" />
		<parameter id="description" value="Visualizes based on SPARQL SELECT" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
		<parameter id="css" value="d3force.css" />
		<parameter id="css" value="d3tree.css" />
		<parameter id="css" value="d3wheel.css" />
		<parameter id="css" value="menustyling.css" />
		<parameter id="script" value="d3.v3.js" />
		<parameter id="script" value="d3force.js" />
		<parameter id="script" value="d3tree.js" />
		<parameter id="script" value="d3wheel.js" />
		<parameter id="script" value="d3download.js" />
		<parameter id="script" value="contextmenu.js" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type" id="SparqlVisDesignType">
		<parameter id="class"
			value="de.knowwe.rdfs.vis.markup.sparql.SparqlVisDesignType" />
		<parameter id="name" value="SparqlVisDesignType" />
		<parameter id="description" value="KnowWEObjectType SparqlVisDesignType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider"
		id="OntoVisDownloadProvider">
		<parameter id="class"
			value="de.knowwe.rdfs.vis.markup.OntoVisDownloadProvider" />
		<parameter id="name" value="OntoVisDownloadProvider" />
		<parameter id="description"
			value="Offers a download button to download the graph as an svg file." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="ConceptVisualization" />
		<parameter id="scope" value="SparqlVisualization" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="OntoVisSvgDownload">
		<parameter id="class" value="de.knowwe.rdfs.vis.markup.OntoVisSvgDownload" />
		<parameter id="name" value="OntoVisSvgDownload" />
		<parameter id="description"
			value="Downloads the .svg-file of the displayed Graph" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="OntoVisSvgD3Download">
		<parameter id="class" value="de.knowwe.rdfs.vis.markup.OntoVisSvgD3Download" />
		<parameter id="name" value="OntoVisSvgD3Download" />
		<parameter id="description" value="Downloads the .svg-file of the displayed graph" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="OntoVisPdfDownload">
		<parameter id="class" value="de.knowwe.rdfs.vis.markup.OntoVisPdfDownload" />
		<parameter id="name" value="OntoVisPdfDownload" />
		<parameter id="description" value="Downloads the .pdf-file of the displayed graph" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider"
		id="OntoVisDisplaySVGProvider">
		<parameter id="class"
			value="de.knowwe.rdfs.vis.markup.OntoVisDisplaySVGProvider" />
		<parameter id="name" value="OntoVisDisplaySVGProvider" />
		<parameter id="description"
			value="Offers a button to display the graph" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="ConceptVisualization" />
		<parameter id="scope" value="SparqlVisualization" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="OntoVisDisplaySVG">
		<parameter id="class" value="de.knowwe.rdfs.vis.markup.OntoVisDisplaySVG" />
		<parameter id="name" value="OntoVisDisplaySVG" />
		<parameter id="description"
			value="Display the .svg-Graph" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="OntoVisDotDownload">
		<parameter id="class" value="de.knowwe.rdfs.vis.markup.OntoVisDotDownload" />
		<parameter id="name" value="OntoVisDotDownload" />
		<parameter id="description"
			value="Downloads the .dot-file of the displayed Graph" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="ExcludeCurrentConceptAction">
		<parameter id="class"
			value="de.knowwe.rdfs.vis.edit.ExcludeCurrentConceptAction" />
		<parameter id="name" value="ExcludeCurrentConceptAction" />
		<parameter id="description" value="Action ExcludeCurrentConceptAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="ExpandCurrentConceptAction">
		<parameter id="class"
			value="de.knowwe.rdfs.vis.edit.ExpandCurrentConceptAction" />
		<parameter id="name" value="ExpandCurrentConceptAction" />
		<parameter id="description" value="Action ExpandCurrentConceptAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="FindLiteralsForConceptAction">
		<parameter id="class"
			value="de.knowwe.rdfs.vis.edit.FindLiteralsForConceptAction" />
		<parameter id="name" value="FindLiteralsForConceptAction" />
		<parameter id="description" value="Action FindLiteralsForConceptAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="MakeNewVisualizationOfConceptAction">
		<parameter id="class"
			value="de.knowwe.rdfs.vis.edit.MakeNewVisualizationOfConceptAction" />
		<parameter id="name" value="MakeNewVisualizationOfConceptAction" />
		<parameter id="description" value="Action MakeNewVisualizationOfConceptAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="GoToDefinitionAction">
		<parameter id="class"
			value="de.knowwe.rdfs.vis.edit.GoToDefinitionAction" />
		<parameter id="name" value="GoToDefinitionAction" />
		<parameter id="description" value="Action GoToDefinitionAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
	</extension>


	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider" id="SparqlVisTemplateToolProvider">
		<parameter id="class" value="de.knowwe.rdfs.vis.markup.sparql.SparqlVisTemplateToolProvider"/>
		<parameter id="name" value="SparqlVisTemplateToolProvider"/>
		<parameter id="description"
			value="Shows a visualization of this resource via SparqlVis template if such template exists" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="50" />
		<parameter id="scope" value="ResourceReference" />
		<parameter id="scope" value="LazyURIReference"/>
		<parameter id="scope" value="TurtleURI"/>
	</extension>


	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider" id="ConceptVisTemplateToolProvider">
		<parameter id="class" value="de.knowwe.rdfs.vis.markup.ConceptVisTemplateToolProvider" />
		<parameter id="name" value="ConceptVisTemplateToolProvider" />
		<parameter id="description"
			value="Shows a visualization of this resource via ConceptVis template if such template exists" />
		<parameter id="version" value="1.0"/>
		<parameter id="priority" value="50"/>
		<parameter id="scope" value="ResourceReference"/>
	</extension>


	<extension plugin-id="KnowWEExtensionPoints" point-id="Action" id="OntoVisReRenderAction">
		<parameter id="class" value="de.knowwe.rdfs.vis.markup.OntoVisReRenderAction" />
		<parameter id="name" value="OntoVisReRenderAction" />
		<parameter id="description" value="Action OntoVisReRender" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Action" id="GetVisMenuAction">
		<parameter id="class" value="de.knowwe.rdfs.vis.markup.GetVisMenuAction" />
		<parameter id="name" value="GetVisMenuAction" />
		<parameter id="description" value="Action GetVisMenuAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

</plugin>
