<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-d3web-basic" version="0.0.1">
	
	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
		<import plugin-id="KnowWE-Plugin-d3web" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Instantiation"
		id="d3webInstantiation">
		<parameter id="class"
			value="de.knowwe.d3web.d3webInstantiation" />
		<parameter id="name" value="d3webInstantiation" />
		<parameter id="description" value="Instantiation d3webInstantiation" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowledgeRepresentationHandler"
		id="D3webKnowledgeHandler">
		<parameter id="class"
			value="de.d3web.we.basic.D3webKnowledgeHandler" />
		<parameter id="name" value="D3webKnowledgeHandler" />
		<parameter id="description" value="KnowledgeRepresentationHandler D3webKnowledgeHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="SolutionPanelTagHandler">
		<parameter id="class"
			value="de.d3web.we.solutionpanel.SolutionPanelTagHandler" />
		<parameter id="name" value="SolutionPanelTagHandler" />
		<parameter id="description" value="TagHandler SolutionPanelTagHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="solutionPanel.js" />
	</extension>	
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="SolutionsPanelAction">
		<parameter id="class"
			value="de.d3web.we.solutionpanel.SolutionsPanelAction" />
		<parameter id="name" value="SolutionsPanelAction" />
		<parameter id="description" value="Action SolutionsPanelAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="StyledSolutionsPanelHandler">
		<parameter id="class" value="de.d3web.we.solutionpanel.StyledSolutionsPanelHandler" />
		<parameter id="name" value="StyledSolutionsPanelHandler" />
		<parameter id="description" value="A styled view of the derived solutions." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider"
		id="StyledSolutionPanelToolProvider">
		<parameter id="class" value="de.d3web.we.solutionpanel.StyledSolutionPanelToolProvider" />
		<parameter id="name" value="StyledSolutionPanelToolProvider" />
		<parameter id="description"
			value="Offers some common tools for the styled solution panel." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="StyledSolutions" />
	</extension>
</plugin>