<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWEExtensionPoints" version="0.0.1">
<!-- This plugin only defines extension points for KnowWE. -->
	
	<extension-point id="Instantiation">
		<parameter-def id="class" />
		<parameter-def id="name" />
		<parameter-def id="description" />
		<parameter-def id="version" />
		<parameter-def id="priority" type="number" />
	</extension-point>
	
	<extension-point id="Action">
		<parameter-def id="class" />
		<parameter-def id="name" />
		<parameter-def id="description" />
		<parameter-def id="version" />
		<parameter-def id="priority" type="number" />
	</extension-point>
	
	<extension-point id="KnowledgeRepresentationHandler">
		<parameter-def id="class" />
		<parameter-def id="name" />
		<parameter-def id="description" />
		<parameter-def id="version" />
		<parameter-def id="priority" type="number" />
	</extension-point>
	
	<extension-point id="KnowWEObjectType">
		<parameter-def id="class" />
		<parameter-def id="name" />
		<parameter-def id="description" />
		<parameter-def id="version" />
		<parameter-def id="priority" type="number" />
		<parameter-def id="scope" />
		<parameter-def id="script" multiplicity="any"/>
	</extension-point>
	
	<extension-point id="TagHandler">
		<parameter-def id="class" />
		<parameter-def id="name" />
		<parameter-def id="description" />
		<parameter-def id="version" />
		<parameter-def id="priority" type="number" />
		<parameter-def id="script" multiplicity="any"/>
	</extension-point>
	
	<extension-point id="PageAppendHandler">
		<parameter-def id="class" />
		<parameter-def id="name" />
		<parameter-def id="description" />
		<parameter-def id="version" />
		<parameter-def id="priority" type="number" />
		<parameter-def id="script" multiplicity="any"/>
	</extension-point>
	
	<extension-point id="SemanticCoreImpl">
		<parameter-def id="class" />
		<parameter-def id="name" />
		<parameter-def id="description" />
		<parameter-def id="version" />
		<parameter-def id="priority" type="number" />
		<parameter-def id="script" multiplicity="any"/>
	</extension-point>
	
	<extension-point id="EventListener">
		<parameter-def id="class" />
		<parameter-def id="name" />
		<parameter-def id="description" />
		<parameter-def id="version" />
		<parameter-def id="priority" type="number" />
		<parameter-def id="script" multiplicity="any"/>
	</extension-point>
	
	<extension-point id="SectionizerModule">
		<parameter-def id="class" />
		<parameter-def id="name" />
		<parameter-def id="description" />
		<parameter-def id="version" />
		<parameter-def id="priority" type="number" />
		<parameter-def id="script" multiplicity="any"/>
	</extension-point>
	
	<extension-point id="SearchProvider">
		<parameter-def id="class" />
		<parameter-def id="name" />
		<parameter-def id="description" />
		<parameter-def id="version" />
		<parameter-def id="priority" type="number" />
	</extension-point>
	
</plugin>