<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-JSPWiki-Connector-jpf-plugin" version="0.0.1">
	
	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
	</runtime>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="SearchProvider" id="JSPWikiSearchProvider">
		<parameter id="class" value="de.knowwe.jspwiki.JSPWikiSearchConnector" />
		<parameter id="name" value="JSPWikiSearchProvider" />
		<parameter id="description" value="KnowWESearchProvider JSPWikiSearchConnector" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5.0" />
	</extension>
	
</plugin>
