path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

marker#kann {
  fill: green;
}

path.link.kann {
  stroke: green;
  stroke-dasharray: 0,2 1;
}

marker#muss {
  fill: red;
}

path.link.muss {
  stroke: red;
}

marker#unterkonzept {
  fill: blue;
}

path.link.unterkonzept {
  stroke: blue;
}

marker#type {
  fill: orange;
}

path.link.type {
  stroke: orange;
  stroke-dasharray: 0,2 1;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

text {
  font: 15px sans-serif;

}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}

