
.calendar {
	margin:0.25em 0.25em;
	border: 1px solid #CCCCCC;
	border-collapse:separate;
	empty-cells:show;
}
.calendar * tr {
	border:none;
}
.calendar * th {
	background-color:#CCCCCC;
	border: 1px solid #CCCCCC;
	text-align:center;
	vertical-align:top;
	color:black;
}
.calendar * td {
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	text-align:left;
	vertical-align:top;
	background-color:#FFFFCC;
	color:black;
}

th.today {
	background-color:#666666;
	border-color:#666666;
	color:#CCCCCC;
}
td.today {
	background-color:#FFFF99;
	color:black
}

.appointment {
	margin:0.25em 0.25em;
	border:1px solid #666666;
	text-align:left;
	vertical-align:top;
}
.appointment * tr {
	border:none;
	text-align:left;
	vertical-align:top;
}
.appointment * th {
	background-color:transparent;
}
.appointment * td {
	background-color:#FFFFFF;
	color:black;
	border:1px solid #CCCCCC;
	text-align:left;
	vertical-align:top;
}
