<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-d3web" version="0.0.1">
	
	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
		<import plugin-id="KnowWE-Basic-Plugins" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
	</runtime>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Instantiation"
		id="d3webInstantiation">
		<parameter id="class"
			value="de.knowwe.d3web.d3webInstantiation" />
		<parameter id="name" value="d3webInstantiation" />
		<parameter id="description" value="Instantiation d3webInstantiation" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowledgeRepresentationHandler"
		id="D3webTerminologyHandler">
		<parameter id="class"
			value="de.d3web.we.terminology.D3webTerminologyHandler" />
		<parameter id="name" value="D3webTerminologyHandler" />
		<parameter id="description" value="KnowledgeRepresentationHandler D3webTerminologyHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="QuestionTreeRootType">
		<parameter id="class"
			value="de.d3web.we.kdom.questionTreeNew.QuestionTreeRootType" />
		<parameter id="name" value="QuestionTreeRootType" />
		<parameter id="description" value="KnowWEObjectType QuestionTreeRootType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4.55" />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-plugin-d3web.js" />
		<parameter id="script" value="silveripe.0.2.js" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="SolutionsDashTree">
		<parameter id="class"
			value="de.d3web.we.kdom.solutionTree.SolutionTreeMarkup" />
		<parameter id="name" value="SolutionTreeMarkup" />
		<parameter id="description" value="KnowWEObjectType SolutionTreeMarkup" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4.5" />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-plugin-d3web.js" />
	</extension>
	
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="RulesMarkup">
		<parameter id="class"
			value="de.d3web.we.kdom.rulesNew.RulesMarkup" />
		<parameter id="name" value="RulesBlock" />
		<parameter id="description" value="KnowWEObjectType RulesMarkup" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5.0" />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-plugin-d3web.js" />
		<parameter id="script" value="silveripe.0.2.js" />
	</extension>
	
	
	
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="Kopic">
		<parameter id="class"
			value="de.d3web.we.kdom.kopic.Kopic" />
		<parameter id="name" value="Kopic" />
		<parameter id="description" value="KnowWEObjectType Kopic" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4.1" />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-plugin-d3web.js" />
		<parameter id="script" value="silveripe.0.2.js" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="SolutionsSection">
		<parameter id="class"
			value="de.d3web.we.kdom.dashTree.solutions.SolutionsSection" />
		<parameter id="name" value="SolutionsSection" />
		<parameter id="description" value="KnowWEObjectType SolutionsSection" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4.5" />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-plugin-d3web.js" />
		<parameter id="script" value="silveripe.0.2.js" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="QuestionnairesSection">
		<parameter id="class"
			value="de.d3web.we.kdom.dashTree.questionnaires.QuestionnairesSection" />
		<parameter id="name" value="QuestionnairesSection" />
		<parameter id="description" value="KnowWEObjectType QuestionnairesSection" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4.5" />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-plugin-d3web.js" />
		<parameter id="script" value="silveripe.0.2.js" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="QuestionsSection">
		<parameter id="class"
			value="de.d3web.we.kdom.decisionTree.QuestionsSection" />
		<parameter id="name" value="QuestionsSection" />
		<parameter id="description" value="KnowWEObjectType QuestionsSection" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4.6" />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-plugin-d3web.js" />
		<parameter id="script" value="silveripe.0.2.js" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="AttributeTableSection">
		<parameter id="class"
			value="de.d3web.we.kdom.table.attributes.AttributeTableSection" />
		<parameter id="name" value="AttributeTableSection" />
		<parameter id="description" value="KnowWEObjectType AttributeTableSection" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-plugin-d3web.js" />
		<parameter id="script" value="silveripe.0.2.js" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="Annotation">
		<parameter id="class"
			value="de.d3web.we.kdom.Annotation.Annotation" />
		<parameter id="name" value="Annotation" />
		<parameter id="description" value="KnowWEObjectType Annotation" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-plugin-d3web.js" />
		<parameter id="script" value="silveripe.0.2.js" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="TestsuiteSection">
		<parameter id="class"
			value="de.d3web.we.testsuite.TestsuiteSection" />
		<parameter id="name" value="TestsuiteSection" />
		<parameter id="description" value="KnowWEObjectType TestsuiteSection" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-plugin-d3web.js" />
		<parameter id="script" value="silveripe.0.2.js" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="CoveringTableSection">
		<parameter id="class"
			value="de.d3web.we.kdom.table.xcl.CoveringTableSection" />
		<parameter id="name" value="CoveringTableSection" />
		<parameter id="description" value="KnowWEObjectType CoveringTableSection" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-plugin-d3web.js" />
		<parameter id="script" value="silveripe.0.2.js" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="CoveringListSection">
		<parameter id="class"
			value="de.d3web.we.kdom.xcl.CoveringListSection" />
		<parameter id="name" value="CoveringListSection" />
		<parameter id="description" value="KnowWEObjectType CoveringListSection" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4.9" />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-plugin-d3web.js" />
		<parameter id="script" value="silveripe.0.2.js" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="CoveringListMarkup">
		<parameter id="class"
			value="de.d3web.we.kdom.xcl.list.CoveringListMarkup" />
		<parameter id="name" value="CoveringListMarkup" />
		<parameter id="description" value="KnowWEObjectType CoveringListMarkup" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-plugin-d3web.js" />
		<parameter id="script" value="silveripe.0.2.js" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="RulesSection">
		<parameter id="class"
			value="de.d3web.we.kdom.rules.RulesSection" />
		<parameter id="name" value="RulesSection" />
		<parameter id="description" value="KnowWEObjectType RulesSection" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-plugin-d3web.js" />
		<parameter id="script" value="silveripe.0.2.js" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="BulletScoring">
		<parameter id="class"
			value="de.d3web.we.kdom.bulletLists.scoring.BulletScoring" />
		<parameter id="name" value="BulletScoring" />
		<parameter id="description" value="KnowWEObjectType BulletScoring" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-plugin-d3web.js" />
		<parameter id="script" value="silveripe.0.2.js" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="QuestionSheetHandler">
		<parameter id="class"
			value="de.d3web.we.taghandler.QuestionSheetHandler" />
		<parameter id="name" value="QuestionSheetHandler" />
		<parameter id="description" value="TagHandler QuestionSheetHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="KnowWE-plugin-d3web.js" />
		<parameter id="script" value="silveripe.0.2.js" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="KBRenderer">
		<parameter id="class"
			value="de.d3web.we.taghandler.KBRenderer" />
		<parameter id="name" value="KBRenderer" />
		<parameter id="description" value="TagHandler KBRenderer" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="KnowWE-plugin-d3web.js" />
		<parameter id="script" value="silveripe.0.2.js" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="ShowAllKBsHandler">
		<parameter id="class"
			value="de.d3web.we.taghandler.ShowAllKBsHandler" />
		<parameter id="name" value="ShowAllKBsHandler.java" />
		<parameter id="description" value="TagHandler ShowAllKBsHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="KnowWE-plugin-d3web.js" />
		<parameter id="script" value="silveripe.0.2.js" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="SolutionStateViewHandler">
		<parameter id="class"
			value="de.d3web.we.taghandler.SolutionStateViewHandler" />
		<parameter id="name" value="SolutionStateViewHandler" />
		<parameter id="description" value="TagHandler SolutionStateViewHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="KnowWE-plugin-d3web.js" />
		<parameter id="script" value="silveripe.0.2.js" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="QuestionnaireValuesViewHandler">
		<parameter id="class"
			value="de.d3web.we.taghandler.QuestionnaireValuesViewHandler" />
		<parameter id="name" value="QuestionnaireValuesViewHandler" />
		<parameter id="description" value="TagHandler QuestionnaireValuesViewHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="KnowWE-plugin-d3web.js" />
		<parameter id="script" value="silveripe.0.2.js" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="SessionValuesViewHandler">
		<parameter id="class"
			value="de.d3web.we.taghandler.SessionValuesViewHandler" />
		<parameter id="name" value="SessionValuesViewHandler" />
		<parameter id="description" value="TagHandler SessionValuesViewHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="KnowWE-plugin-d3web.js" />
		<parameter id="script" value="silveripe.0.2.js" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="WikiSolutionsTagHandler">
		<parameter id="class"
			value="de.d3web.we.taghandler.WikiSolutionsTagHandler" />
		<parameter id="name" value="WikiSolutionsTagHandler" />
		<parameter id="description" value="TagHandler WikiSolutionsTagHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="KnowWE-plugin-d3web.js" />
		<parameter id="script" value="silveripe.0.2.js" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="DialogPaneTagHandler">
		<parameter id="class"
			value="de.d3web.we.taghandler.DialogPaneTagHandler" />
		<parameter id="name" value="DialogPaneTagHandler" />
		<parameter id="description" value="TagHandler DialogPaneTagHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="KnowWE-plugin-d3web.js" />
		<parameter id="script" value="silveripe.0.2.js" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="ObjectInfoTagHandler">
		<parameter id="class"
			value="de.d3web.we.taghandler.ObjectInfoTagHandler" />
		<parameter id="name" value="ObjectInfoTagHandler" />
		<parameter id="description" value="TagHandler ObjectInfoTagHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="KnowWE-plugin-d3web.js" />
		<parameter id="script" value="silveripe.0.2.js" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="TestsuiteTagHandler">
		<parameter id="class"
			value="de.d3web.we.taghandler.TestsuiteTagHandler" />
		<parameter id="name" value="TestsuiteTagHandler" />
		<parameter id="description" value="TagHandler TestsuiteTagHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="KnowWE-plugin-d3web.js" />
		<parameter id="script" value="silveripe.0.2.js" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="QuestionnaireValuesViewAction">
		<parameter id="class"
			value="de.d3web.we.action.QuestionnaireValuesViewAction" />
		<parameter id="name" value="QuestionnaireValuesViewAction" />
		<parameter id="description" value="Action QuestionnaireValuesViewAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="SessionValuesViewAction">
		<parameter id="class"
			value="de.d3web.we.action.SessionValuesViewAction" />
		<parameter id="name" value="SessionValuesViewAction" />
		<parameter id="description" value="Action SessionValuesViewAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="GenerateKBAction">
		<parameter id="class"
			value="de.d3web.we.action.GenerateKBAction" />
		<parameter id="name" value="GenerateKBAction" />
		<parameter id="description" value="Action GenerateKBAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="SemanticAnnotationAction">
		<parameter id="class"
			value="de.d3web.we.action.SemanticAnnotationAction" />
		<parameter id="name" value="SemanticAnnotationAction" />
		<parameter id="description" value="Action SemanticAnnotationAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="GraphMLOwlRenderer">
		<parameter id="class"
			value="de.d3web.we.renderer.xml.GraphMLOwlRenderer" />
		<parameter id="name" value="GraphMLOwlRenderer" />
		<parameter id="description" value="Action GraphMLOwlRenderer" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="KnowledgeSummerizeAction">
		<parameter id="class"
			value="de.d3web.we.action.KnowledgeSummerizeAction" />
		<parameter id="name" value="KnowledgeSummerizeAction" />
		<parameter id="description" value="Action KnowledgeSummerizeAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="RequestDialogRenderer">
		<parameter id="class"
			value="de.d3web.we.action.RequestDialogRenderer" />
		<parameter id="name" value="RequestDialogRenderer" />
		<parameter id="description" value="Action RequestDialogRenderer" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="ReInitDPSEnvironmentAction">
		<parameter id="class"
			value="de.d3web.we.action.ReInitDPSEnvironmentAction" />
		<parameter id="name" value="ReInitDPSEnvironmentAction" />
		<parameter id="description" value="Action ReInitDPSEnvironmentAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="DPSSolutionsAction">
		<parameter id="class"
			value="de.d3web.we.action.DPSSolutionsAction" />
		<parameter id="name" value="DPSSolutionsAction" />
		<parameter id="description" value="Action DPSSolutionsAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="DPSSolutionsAction2">
		<parameter id="class"
			value="de.d3web.we.action.DPSSolutionsAction2" />
		<parameter id="name" value="DPSSolutionsAction2" />
		<parameter id="description" value="Action DPSSolutionsAction2" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="DPSDialogsAction">
		<parameter id="class"
			value="de.d3web.we.action.DPSDialogsAction" />
		<parameter id="name" value="DPSDialogsAction" />
		<parameter id="description" value="Action DPSDialogsAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="UserFindingsAction">
		<parameter id="class"
			value="de.d3web.we.action.UserFindingsAction" />
		<parameter id="name" value="UserFindingsAction" />
		<parameter id="description" value="Action UserFindingsAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="KSSViewHistoryAction">
		<parameter id="class"
			value="de.d3web.we.action.KSSViewHistoryAction" />
		<parameter id="name" value="KSSViewHistoryAction" />
		<parameter id="description" value="Action KSSViewHistoryAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="ExplanationRenderer2">
		<parameter id="class"
			value="de.d3web.we.action.ExplanationRenderer2" />
		<parameter id="name" value="ExplanationRenderer2" />
		<parameter id="description" value="Action ExplanationRenderer2" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="SolutionLogAction">
		<parameter id="class"
			value="de.d3web.we.action.SolutionLogAction" />
		<parameter id="name" value="SolutionLogAction" />
		<parameter id="description" value="Action SolutionLogAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="QuestionStateReportAction">
		<parameter id="class"
			value="de.d3web.we.action.QuestionStateReportAction" />
		<parameter id="name" value="QuestionStateReportAction" />
		<parameter id="description" value="Action QuestionStateReportAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="CodeCompletionAction">
		<parameter id="class"
			value="de.d3web.we.action.CodeCompletionAction" />
		<parameter id="name" value="CodeCompletionAction" />
		<parameter id="description" value="Action CodeCompletionAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="XCLExplanationAction">
		<parameter id="class"
			value="de.d3web.we.action.XCLExplanationAction" />
		<parameter id="name" value="XCLExplanationAction" />
		<parameter id="description" value="Action XCLExplanationAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="SetSingleFindingAction">
		<parameter id="class"
			value="de.d3web.we.action.SetSingleFindingAction" />
		<parameter id="name" value="SetSingleFindingAction" />
		<parameter id="description" value="Action SetSingleFindingAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="ParseWebOfflineRenderer">
		<parameter id="class"
			value="de.d3web.we.action.ParseWebOfflineRenderer" />
		<parameter id="name" value="ParseWebOfflineRenderer" />
		<parameter id="description" value="Action ParseWebOfflineRenderer" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="ClearDPSSessionAction">
		<parameter id="class"
			value="de.d3web.we.action.ClearDPSSessionAction" />
		<parameter id="name" value="ClearDPSSessionAction" />
		<parameter id="description" value="Action ClearDPSSessionAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="RefreshHTMLDialogAction">
		<parameter id="class"
			value="de.d3web.we.action.RefreshHTMLDialogAction" />
		<parameter id="name" value="RefreshHTMLDialogAction" />
		<parameter id="description" value="Action RefreshHTMLDialogAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="SetFindingAction">
		<parameter id="class"
			value="de.d3web.we.action.SetFindingAction" />
		<parameter id="name" value="SetFindingAction" />
		<parameter id="description" value="Action SetFindingAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="SaveDialogAsXCLAction">
		<parameter id="class"
			value="de.d3web.we.action.SaveDialogAsXCLAction" />
		<parameter id="name" value="SaveDialogAsXCLAction" />
		<parameter id="description" value="Action SaveDialogAsXCLAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="ReRenderQuestionSheetAction">
		<parameter id="class"
			value="de.d3web.we.action.ReRenderQuestionSheetAction" />
		<parameter id="name" value="ReRenderQuestionSheetAction" />
		<parameter id="description" value="Action ReRenderQuestionSheetAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
		<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="TestSuiteServlet">
		<parameter id="class"
			value="de.d3web.we.testsuite.TestSuiteServlet" />
		<parameter id="name" value="TestSuiteServlet" />
		<parameter id="description" value="Action TestSuiteServlet" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="PluginConfigType">
		<parameter id="class"
			value="de.knowwe.d3web.PluginConfigType" />
		<parameter id="name" value="PluginConfigType" />
		<parameter id="description" value="KnowWEObjectType PluginConfigType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="KnowledgeReaderType">
		<parameter id="class"
			value="de.knowwe.d3web.kdom.knowledgereader.KnowledgeReaderType" />
		<parameter id="name" value="KnowledgeReaderType" />
		<parameter id="description" value="KnowWEObjectType KnowledgeReaderType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="AdminPanelHandler">
		<parameter id="class"
			value="de.d3web.we.taghandler.AdminPanelHandler" />
		<parameter id="name" value="AdminPanelHandler" />
		<parameter id="description" value="TagHandler AdminPanelHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="DialogLinkTagHandler">
		<parameter id="class"
			value="de.d3web.we.taghandler.DialogLinkTagHandler" />
		<parameter id="name" value="DialogLinkTagHandler" />
		<parameter id="description" value="TagHandler DialogLinkTagHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="KnowledgeBasesGeneratorHandler">
		<parameter id="class"
			value="de.d3web.we.taghandler.KnowledgeBasesGeneratorHandler" />
		<parameter id="name" value="KnowledgeBasesGeneratorHandler" />
		<parameter id="description" value="TagHandler KnowledgeBasesGeneratorHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
</plugin>