<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-DiaFlux-Review" version="0.0.1">
	
	<requires>
		<import plugin-id="KnowWE-Plugin-DiaFlux" />
		<import plugin-id="KnowWEExtensionPoints" />
		<import plugin-id="d3web-Plugin-TestingFramework" />
	</requires>
	
	<runtime>
		<library id="de.knowwe" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>
	

	
	<extension plugin-id="KnowWE-Plugin-DiaFlux" point-id="DiaFluxDisplayEnhancement"
		id="DiaFluxReviewHighlight">
		<parameter id="class"
			value="de.knowwe.diaflux.review.DiaFluxReviewHighlight" />
		<parameter id="name" value="DiaFluxReviewHighlight" />
		<parameter id="description" value="DiaFluxReviewHighlight" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="diaflux" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="LoadReviewAction">
		<parameter id="class"
			value="de.knowwe.diaflux.review.LoadReviewAction" />
		<parameter id="name" value="LoadReviewAction" />
		<parameter id="description" value="Action LoadReviewAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="SaveReviewAction">
		<parameter id="class"
			value="de.knowwe.diaflux.review.SaveReviewAction" />
		<parameter id="name" value="SaveReviewAction" />
		<parameter id="description" value="Action SaveReviewAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider"
		id="ReviewProvider">
		<parameter id="class"
			value="de.knowwe.diaflux.review.ReviewProvider" />
		<parameter id="name" value="ReviewProvider" />
		<parameter id="description"
			value="Enables reviewing of DiaFlux models" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="DiaFlux" />
	</extension>
	
	<extension plugin-id="d3web-Plugin-TestingFramework" point-id="Test"
		id="ReviewConsistency">
		<parameter id="class"
			value="de.knowwe.diaflux.review.ReviewConsistencyTest" />
		<parameter id="name" value="ReviewConsistency" />
		<parameter id="description" value="CITest ReviewConsistency" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="ReviewList">
		<parameter id="class"
			value="de.knowwe.diaflux.review.ReviewListType" />
		<parameter id="name" value="ReviewList" />
		<parameter id="description" value="ReviewList" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="LeftMenuCollapse">
		<parameter id="class"
			value="de.knowwe.page.LeftMenuCollapse" />
		<parameter id="name" value="LeftMenuCollapse" />
		<parameter id="description" value="LeftMenuCollapse" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
	</extension>
	
</plugin>
