<?xml version="1.0" ?><!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0"
	"http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-WikiZIPDownload" version="1.0">

	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
		<import plugin-id="KnowWE-Plugin-Core" />
	</requires>

	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>

	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider" id="WikiZIPDownloadProvider">
		<parameter id="class" value="de.knowwe.download.WikiZIPDownloadProvider" />
		<parameter id="name" value="WikiZIPDownloadProvider" />
		<parameter id="description" value="Offers a download button to download the wiki as a zip file." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="Administration" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider" id="DeleteSnapshotToolProvider">
		<parameter id="class" value="de.knowwe.snapshot.DeleteSnapshotToolProvider" />
		<parameter id="name" value="DeleteSnapshotToolProvider" />
		<parameter id="description" value="Offers a delete button to delete a snapshot from the wiki tmp file repo." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="Administration" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider" id="CreateSnapshotToolProvider">
		<parameter id="class" value="de.knowwe.snapshot.CreateSnapshotToolProvider" />
		<parameter id="name" value="CreateSnapshotToolProvider" />
		<parameter id="description"
				   value="Offers a create snapshot button to create a snapshot from the wiki content state in the file repo." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="Administration" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Action" id="CreateSnapshotAction">
		<parameter id="class" value="de.knowwe.snapshot.CreateSnapshotAction" />
		<parameter id="name" value="CreateSnapshotAction" />
		<parameter id="description" value="Action to create a wiki content snapshot in the tmp-repo-folder." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>


	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider" id="TmpFileDownloadToolProvider">
		<parameter id="class" value="de.knowwe.download.TmpFileDownloadToolProvider" />
		<parameter id="name" value="TmpFileDownloadToolProvider" />
		<parameter id="description" value="Offers a download button to download file from the wiki tmp file repo." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="Administration" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider" id="DeployRepoSnapshotProvider">
		<parameter id="class" value="de.knowwe.snapshot.DeployRepoSnapshotProvider" />
		<parameter id="name" value="DeployWikiZIPProvider" />
		<parameter id="description" value="Offers a button to deploy a wiki content zip file into the wiki." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="Administration" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider" id="DeployAttachmentSnapshotProvider">
		<parameter id="class" value="de.knowwe.snapshot.DeployAttachmentSnapshotProvider" />
		<parameter id="name" value="DeployAttachmentSnapshotProvider" />
		<parameter id="description" value="Offers a button to deploy an attachment as a wiki content zip file into the wiki." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="Administration" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Action" id="DeployRepoSnapshotAction">
		<parameter id="class" value="de.knowwe.snapshot.DeployRepoSnapshotAction" />
		<parameter id="name" value="DeployRepoSnapshotAction" />
		<parameter id="description" value="Action to deploy a wiki content zip file into the wiki." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Action" id="DeployAttachmentSnapshotAction">
		<parameter id="class" value="de.knowwe.snapshot.DeployAttachmentSnapshotAction" />
		<parameter id="name" value="DeployAttachmentSnapshotAction" />
		<parameter id="description" value="Action to deploy an attached wiki content zip file into the wiki." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Action" id="DownloadWikiZIP">
		<parameter id="class" value="de.knowwe.download.DownloadWikiZIPAction" />
		<parameter id="name" value="DownloadWikiZIP" />
		<parameter id="description"
				   value="Downloads a specific d3web knowledge base archive of a named wiki article." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

</plugin>