<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-WikiZIPDownload" version="1.0">

	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
	</requires>

	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider"
		id="WikiZIPDownloadProvider">
		<parameter id="class"
			value="de.knowwe.wikicontentdownload.WikiZIPDownloadProvider" />
		<parameter id="name" value="WikiZIPDownloadProvider" />
		<parameter id="description"
			value="Offers a download button to download the wiki as a zip file." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="Administration" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="DownloadWikiZIP">
		<parameter id="class" value="de.knowwe.wikicontentdownload.DownloadWikiZIP" />
		<parameter id="name" value="DownloadWikiZIP" />
		<parameter id="description"
			value="Downloads a specific d3web knowledge base archive of a named wiki article." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
</plugin>