<?xml version="1.0" ?><!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0"
	"http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-WikiZIPDownload" version="1.0">

	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
		<import plugin-id="KnowWE-Plugin-Core" />
	</requires>

	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Type" id="SnapshotControlPanelMarkup">
		<parameter id="class" value="de.knowwe.snapshot.markup.SnapshotControlPanelMarkup" />
		<parameter id="name" value="SnapshotControlPanelMarkup" />
		<parameter id="description" value="Responsible for managing all snapshots of the wiki." />
		<parameter id="version" value="1" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-Plugin-WikiZIPDownload.js" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider" id="WikiZIPDownloadProvider">
		<parameter id="class" value="de.knowwe.download.WikiZIPDownloadProvider" />
		<parameter id="name" value="WikiZIPDownloadProvider" />
		<parameter id="description" value="Offers a download button to download the wiki as a zip file." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="Administration" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider" id="DeleteSnapshotToolProvider">
		<parameter id="class" value="de.knowwe.snapshot.DeleteSnapshotToolProvider" />
		<parameter id="name" value="DeleteSnapshotToolProvider" />
		<parameter id="description" value="Offers a delete button to delete a snapshot from the wiki tmp file repo." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="Administration" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider" id="CreateWikiSnapshotToolProvider">
		<parameter id="class" value="de.knowwe.snapshot.CreateSnapshotToolProvider" />
		<parameter id="name" value="CreateWikiSnapshotToolProvider" />
		<parameter id="description"
				   value="Offers a create snapshot button to create a snapshot from the wiki content state in the file repo." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="Administration" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider" id="TmpFileDownloadToolProvider">
		<parameter id="class" value="de.knowwe.download.TmpFileDownloadToolProvider" />
		<parameter id="name" value="TmpFileDownloadToolProvider" />
		<parameter id="description" value="Offers a download button to download file from the wiki tmp file repo." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="Administration" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider" id="DeploySnapshotProvider">
		<parameter id="class" value="de.knowwe.snapshot.DeploySnapshotProvider" />
		<parameter id="name" value="DeploySnapshotProvider" />
		<parameter id="description" value="Offers a button to deploy a wiki content zip file into the wiki." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="Administration" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Action" id="ListSnapshotsAction">
		<parameter id="class" value="de.knowwe.snapshot.ListSnapshotsAction" />
		<parameter id="name" value="ListSnapshotsAction" />
		<parameter id="description" value="Lists all available snapshots of the wiki." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Action" id="CreateSnapshotAction">
		<parameter id="class" value="de.knowwe.snapshot.CreateSnapshotAction" />
		<parameter id="name" value="CreateSnapshotAction" />
		<parameter id="description" value="Action to create a wiki content snapshot in the tmp-repo-folder." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Action" id="DeploySnapshotAction">
		<parameter id="class" value="de.knowwe.snapshot.DeploySnapshotAction" />
		<parameter id="name" value="DeploySnapshotAction" />
		<parameter id="description" value="Action to deploy a wiki content zip file into the wiki." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Action" id="DownloadWikiZIP">
		<parameter id="class" value="de.knowwe.download.DownloadWikiZIPAction" />
		<parameter id="name" value="DownloadWikiZIP" />
		<parameter id="description" value="Downloads a specific wiki and optionally delete it." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Action" id="UploadSnapshotAction">
		<parameter id="class" value="de.knowwe.snapshot.UploadSnapshotAction" />
		<parameter id="name" value="UploadSnapshotAction" />
		<parameter id="description" value="Action to upload a wiki content zip file into the wiki." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Instantiation" id="SnapshotDirectoryPermissionInstantiation">
		<parameter id="class" value="de.knowwe.snapshot.SnapshotDirectoryPermissionInstantiation" />
		<parameter id="name" value="SnapshotDirectoryPermissionInstantiation" />
		<parameter id="description" value="Instantiation to allow snapshot directory to be read" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

</plugin>