@import "common.css";
@import "popup.css";

.snapshots-panel {
	display: inline-block;
	padding: 1rem 1rem;
	min-width: 35rem;

	.upload-button:hover label, .upload-button:hover label {
		background-color: var(--hover-bg-color-btn-default);
		color: var(--hover-text-color-btn-default);
		border-color: #adadad;
	}

	button i, label i {
		margin-right: 0.5rem;
	}

	.context-menu {
		button.context-menu {
			padding-left: 0.75rem;
			padding-right: 0.75rem;
			padding-top: 0.5rem;

			i {
				font-size: 1.2rem;
				margin-right: 0;
			}
		}

		.options {
			display: inline-block;
			left: 0;
			top: 2.75rem;
			padding: 0.5rem 0.7rem;
			background-color: var(--bg-color-secondary);
			border: 1px solid #DBDBDB;
			border-radius: 0.4rem;
			box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.20);
			z-index: 10;

			li {
				display: block;
				min-width: 8rem;
				margin-bottom: 0.2rem;

				button {
					background: none;
					border: none;
				}

				i {
					width: 1rem; /* normalize size */
					margin-right: 0.75rem;
				}
			}

		}
	}

	.buttons {
		display: flex;
		gap: 1rem;
		margin-bottom: 3rem;
	}

	h3 {
		display: inline-block;
		font-weight: 500;
		font-size: 1.3rem !important;
		vertical-align: bottom;
		margin: 0;
	}

	.headline {
		h3 {
			margin-bottom: 0.1rem;
		}
	}

	.counter {
		display: inline-flex;
		width: 1.75rem;
		height: 1.75rem;
		align-items: center;
		vertical-align: middle;
		padding-left: 0.1rem;
		margin-left: 1rem;
		border-radius: 50%;
		background-color: var(--color-grey-light);
		font-size: 1rem;
		font-weight: 600;

		span {
			margin: auto;
		}
	}

	.snapshots-table {
		margin-top: 1rem;
		margin-bottom: 2rem;

		td {
			width: 38rem;
			max-width: 38rem;
			padding: 0 1rem 0.75rem 0;
			font-size: 1.10rem;
		}
	}

	.upload-button {
		display: inline-block;
		position: relative;
	}

	input[type=file] {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		font-size: 0; /* this is on purpose */
		cursor: pointer;
	}
}
