.actionMenu {
	border: 1px solid #D5D5D5; 
	background-color: white;
	font-size: 9pt;
	position: absolute; 
	z-index: 999;
}

.actionMenu ul {
	margin: 0;
	padding: 0.3em;
	list-style-type: none;
}

.actionMenu li {
	padding: 5px 10px 5px 35px;
	background-repeat: no-repeat;
}

.actionMenu .close {
	padding: 3px;
	float:right;
	width: 16px;
	height: 16px;
}

.actionMenu li:hover {
	background-color: #CED7E8;
}

.menuSymbol {
background-image: url(../images/table/arrow-down-light.png);
background-repeat: no-repeat;
background-position:50% 50%;
margin-left: 3px;
cursor: pointer;
border: 1px solid #D5D5D5;
width: 11px;
height: 11px;
float: right;
}

.menuSymbol:hover {
background-image: url(../images/table/arrow-down-dark.png);
}


span.menuSymbol { 
cursor: pointer;
}


