<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-TestSuite" version="0.0.1">

	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
	</requires>

	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>

	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider"
		id="TestSuiteToolProvider">
		<parameter id="class" value="de.d3web.we.testsuite.toolprovider.TestSuiteToolProvider" />
		<parameter id="name" value="TestSuiteToolProvider" />
		<parameter id="description"
			value="Offers download buttons to download test suites as single files." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="/TestSuiteType" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider"
		id="TestSuiteRunnerToolProvider">
		<parameter id="class" value="de.d3web.we.testsuite.toolprovider.TestSuiteRunnerToolProvider" />
		<parameter id="name" value="TestSuiteRunnerToolProvider" />
		<parameter id="description"
			value="Offers download buttons to download visualizations of test suites as single files." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="/TestSuiteRunnerType" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="TestSuiteType">
		<parameter id="class" 
			value="de.d3web.we.testsuite.kdom.TestSuiteType" />
		<parameter id="name" value="TestSuiteType" />
		<parameter id="description" value="KnowWEObjectType TestSuiteType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="TestSuiteRunnerType">
		<parameter id="class" 
			value="de.d3web.we.testsuite.kdom.TestSuiteRunnerType" />
		<parameter id="name" value="TestSuiteRunnerType" />
		<parameter id="description" value="KnowWEObjectType TestSuiteRunnerType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="TestSuiteRunAction">
		<parameter id="class"
			value="de.d3web.we.testsuite.action.TestSuiteRunAction" />
		<parameter id="name" value="TestSuiteRunAction" />
		<parameter id="description" value="Action TestSuiteRunAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="TestSuiteServlet">
		<parameter id="class" value="de.d3web.we.testsuite.action.TestSuiteServlet" />
		<parameter id="name" value="TestSuiteServlet" />
		<parameter id="description" value="Action TestSuiteServlet" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

</plugin>