<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-d3web-basic" version="0.0.1">

	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
	</requires>

	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>

	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider"
		id="KnowledgeBaseDownloadProvider">
		<parameter id="class"
			value="de.d3web.we.knowledgebase.KnowledgeBaseDownloadProvider" />
		<parameter id="name" value="KnowledgeBaseDownloadProvider" />
		<parameter id="description"
			value="Offer a download button to download the knowledge base as an knowledge archive." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="/KnowledgeBase" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="KnowledgeBaseType">
		<parameter id="class" value="de.d3web.we.knowledgebase.KnowledgeBaseType" />
		<parameter id="name" value="KnowledgeBaseType" />
		<parameter id="description"
			value="Compiles and provides a master knowledge base." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="9" />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-Plugin-d3web-basic.js" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="KBRenderer">
		<parameter id="class" value="de.d3web.we.knowledgebase.KBRenderer" />
		<parameter id="name" value="KBRenderer" />
		<parameter id="description" value="TagHandler KBRenderer" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="KnowWE-Plugin-d3web-basic.js" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Instantiation"
		id="d3webInstantiation">
		<parameter id="class" value="de.knowwe.d3web.d3webInstantiation" />
		<parameter id="name" value="d3webInstantiation" />
		<parameter id="description" value="Instantiation d3webInstantiation" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowledgeRepresentationHandler"
		id="D3webKnowledgeHandler">
		<parameter id="class" value="de.d3web.we.basic.D3webKnowledgeHandler" />
		<parameter id="name" value="D3webKnowledgeHandler" />
		<parameter id="description"
			value="KnowledgeRepresentationHandler D3webKnowledgeHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="ShowSolutionsType">
		<parameter id="class" value="de.d3web.we.solutionpanel.ShowSolutionsType" />
		<parameter id="name" value="ShowSolutionsType" />
		<parameter id="description"
			value="KnowWEObjectType to display the derived solutions and abstractions of the current user session." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-Plugin-d3web-basic.js" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="DownloadKnowledgeBase">
		<parameter id="class" value="de.knowwe.d3web.action.DownloadKnowledgeBase" />
		<parameter id="name" value="DownloadKnowledgeBase" />
		<parameter id="description"
			value="Downloads a specific d3web knowledge base archive of a named wiki article." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="SetSingleFindingAction">
		<parameter id="class"
			value="de.knowwe.d3web.action.SetSingleFindingAction" />
		<parameter id="name" value="SetSingleFindingAction" />
		<parameter id="description" value="Action SetSingleFindingAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="PageAppendHandler"
		id="CorrectionAppendHandler">
		<parameter id="class"
			value="de.knowwe.d3web.correction.CorrectionAppendHandler" />
		<parameter id="name" value="CorrectionAppendHandler" />
		<parameter id="description" value="Dummy for adding CSS/JS" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="correction.js" />
		<parameter id="css" value="KnowWE-Plugin-d3web-basic.css" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider"
		id="CorrectionToolProvider">
		<parameter id="class"
			value="de.knowwe.d3web.correction.CorrectionToolProvider" />
		<parameter id="name" value="CorrectionToolProvider" />
		<parameter id="description"
			value="Offers to quickly correct typos in term references." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="AnswerReference" />
		<parameter id="scope" value="PropertyReference" />
		<parameter id="scope" value="QuestionReference" />
		<parameter id="scope" value="QuestionnaireReference" />
		<parameter id="scope" value="SolutionReference" />
		<parameter id="scope" value="IDObjectReference" />
	</extension>	

	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="RetractSingleFindingAction">
		<parameter id="class"
			value="de.knowwe.d3web.action.RetractSingleFindingAction" />
		<parameter id="name" value="RetractSingleFindingAction" />
		<parameter id="description" value="Action RetractSingleFindingAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

</plugin>