<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-Comment" version="0.0.1">
	
	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Instantiation"
		id="CommentModule">
		<parameter id="class"
			value="de.d3web.we.plugin.comment.CommentModule" />
		<parameter id="name" value="CommentModule" />
		<parameter id="description" value="Instantiation CommentModule" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEAction"
		id="ForumBoxAction">
		<parameter id="class"
			value="de.d3web.we.action.ForumBoxAction" />
		<parameter id="name" value="ForumBoxAction" />
		<parameter id="description" value="KnowWEAction ForumBoxAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="CommentType">
		<parameter id="class"
			value="de.d3web.we.plugin.comment.CommentType" />
		<parameter id="name" value="CommentType" />
		<parameter id="description" value="KnowWEObjectType CommentType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="Forum">
		<parameter id="class"
			value="de.d3web.we.plugin.forum.Forum" />
		<parameter id="name" value="Forum" />
		<parameter id="description" value="KnowWEObjectType Forum" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
	</extension>

</plugin>