<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-Timeline" version="0.0.1">

	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
	</requires>

	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="TimelineType">
		<parameter id="class"
			value="de.knowwe.timeline.export.TimelineType" />
		<parameter id="name" value="TimelineType" />
		<parameter id="description" value="Type TimelineType" />
		<parameter id="scope" value="root" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="api/timeline-api.js" />
		<parameter id="script" value="KnowWE-Plugin-Timeline.js" />
		<parameter id="css" value="KnowWE-Plugin-Timeline.css" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="TimelineJSONExportAction">
		<parameter id="class"
			value="de.knowwe.timeline.export.TimelineJSONExportAction" />
		<parameter id="name" value="TimelineJSONExportAction" />
		<parameter id="description" value="Action TimelineJSONExportAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
</plugin>