<?xml version="1.0" ?><!--
  ~ Copyright (C) 2014 denkbares GmbH, Germany
  ~
  ~ This is free software; you can redistribute it and/or modify it under the
  ~ terms of the GNU Lesser General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This software is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public License
  ~ along with this software; if not, write to the Free Software Foundation,
  ~ Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA, or see the FSF
  ~ site: http://www.fsf.org.
  -->

<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0"
	"http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-d3web-MarkupSet" version="1.0">

	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
		<import plugin-id="KnowWE-Plugin-Core" />
	</requires>

	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>

	<extension plugin-id="KnowWEExtensionPoints" point-id="PreviewRenderer" id="PropertyPreviewRenderer">
		<parameter id="class" value="de.knowwe.core.preview.DefaultPreviewRenderer" />
		<parameter id="name" value="PropertyPreviewRenderer" />
		<parameter id="description" value="Renders a preview of a property assignment." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="PropertyDeclarationType" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="PreviewRenderer" id="CoveringListPreviewRenderer">
		<parameter id="class" value="de.d3web.we.kdom.xcl.list.CoveringListPreviewRenderer" />
		<parameter id="name" value="CoveringListPreviewRenderer" />
		<parameter id="description" value="Renders a preview of a set covering list." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="ContentType/CoveringList" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Type" id="AbstractionTableMarkup">
		<parameter id="class" value="de.d3web.we.kdom.abstractiontable.AbstractionTableMarkup" />
		<parameter id="name" value="AbstractionTableMarkup" />
		<parameter id="description" value="Defines markup for abstractioon tables." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
		<parameter id="css" value="KnowWE-Plugin-d3web-MarkupSet.css" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Type" id="AbstractionCellContent">
		<parameter id="class" value="de.d3web.we.kdom.abstractiontable.CellContent" />
		<parameter id="name" value="QuestionTreeRootType" />
		<parameter id="description" value="Type CellContent" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="AbstractionTableMarkup/**/TableCellContent" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Renderer" id="AbstractionCellContentRenderer">
		<parameter id="class" value="de.d3web.we.kdom.abstractiontable.CellContentRenderer" />
		<parameter id="name" value="CellContentRenderer" />
		<parameter id="description" value="Renderer for CellContent" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="AbstractionTableMarkup/**/TableCellContent" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider" id="AbstractionTableInstantEditToolProvider">
		<parameter id="class" value="de.knowwe.instantedit.tools.InstantEditToolProvider" />
		<parameter id="name" value="AbstractionTableInstantEditToolProvider" />
		<parameter id="description" value="Offers a button for quick editing a certain section." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="6" />
		<parameter id="script" value="TextArea.js" />
		<parameter id="script" value="KnowWE-Plugin-InstantEdit.js" />
		<parameter id="script" value="KnowWE-Plugin-AutoComplete.js" />
		<parameter id="script" value="DefaultEditTool.js" />
		<parameter id="css" value="KnowWE-Plugin-InstantEdit.css" />
		<parameter id="css" value="KnowWE-Plugin-AutoComplete.css" />
		<parameter id="css" value="DefaultEditTool.css" />
		<parameter id="scope" value="AbstractionTableMarkup" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider" id="AbstractionTableEditToolProvider">
		<parameter id="class" value="de.d3web.we.kdom.abstractiontable.EditToolProvider" />
		<parameter id="name" value="AbstractionTableEditToolProvider" />
		<parameter id="description" value="Offers a tool for a spreadsheet-like table editor." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="KnowWE-Plugin-InstantEdit.js" />
		<parameter id="script" value="KnowWE-Plugin-AutoComplete.js" />
		<parameter id="script" value="DefaultTableEditTool.js" />
		<parameter id="script" value="KnowWE-Plugin-d3web-MarkupSet.js" />
		<parameter id="css" value="KnowWE-Plugin-InstantEdit.css" />
		<parameter id="css" value="KnowWE-Plugin-AutoComplete.css" />
		<parameter id="css" value="DefaultTableEditTool.css" />
		<parameter id="scope" value="AbstractionTableMarkup" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="CompileScript" id="AbstractionLineHandler">
		<parameter id="class" value="de.d3web.we.kdom.abstractiontable.LineHandler" />
		<parameter id="name" value="LineHandler" />
		<parameter id="description" value="Type LineHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4.55" />
		<parameter id="compilepriority" value="0" />
		<parameter id="scope" value="AbstractionTableMarkup/**/TableLine" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Renderer" id="AbstractionLineRenderer">
		<parameter id="class" value="de.d3web.we.kdom.abstractiontable.LineRenderer" />
		<parameter id="name" value="LineRenderer" />
		<parameter id="description" value="Renderer for TableLines" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="AbstractionTableMarkup/**/TableLine" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Type" id="QuestionTreeRootType">
		<parameter id="class" value="de.d3web.we.kdom.questionTree.QuestionTreeRootType" />
		<parameter id="name" value="QuestionTreeRootType" />
		<parameter id="description" value="Type QuestionTreeRootType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4.55" />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-Plugin-d3web-basic.js" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Type" id="SolutionsDashTree">
		<parameter id="class" value="de.d3web.we.kdom.solutionTree.SolutionTreeMarkup" />
		<parameter id="name" value="SolutionTreeMarkup" />
		<parameter id="description" value="Type SolutionTreeMarkup" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-Plugin-d3web-basic.js" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Type" id="QuestionnairesDashTree">
		<parameter id="class" value="de.d3web.we.kdom.questionnaireTree.QuestionnaireTreeMarkup" />
		<parameter id="name" value="QuestionnaireTreeMarkup" />
		<parameter id="description" value="Type QuestionnaireTreeMarkup" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-Plugin-d3web-basic.js" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Type" id="CoveringListMarkup">
		<parameter id="class" value="de.d3web.we.kdom.xcl.list.CoveringListMarkup" />
		<parameter id="name" value="CoveringListMarkup" />
		<parameter id="description" value="Type CoveringListMarkup" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-Plugin-d3web-basic.js" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Type" id="RulesMarkup">
		<parameter id="class" value="de.d3web.we.kdom.rules.RulesMarkup" />
		<parameter id="name" value="RulesBlock" />
		<parameter id="description" value="Type RulesMarkup" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5.0" />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-Plugin-d3web-basic.js" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Type" id="PropertyMarkup">
		<parameter id="class" value="de.knowwe.d3web.property.PropertyMarkup" />
		<parameter id="name" value="PropertyMarkup" />
		<parameter id="description"
			value="Markup to add properties to IDObjects (optional language and country specific)" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-Plugin-d3web-basic.js" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Type" id="Resource">
		<parameter id="class" value="de.knowwe.d3web.resource.ResourceType" />
		<parameter id="name" value="Resource" />
		<parameter id="description" value="Adds a binary resource file to the knowledge base archive" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-Plugin-d3web-basic.js" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Type" id="PluginConfigType">
		<parameter id="class" value="de.knowwe.d3web.PluginConfigType" />
		<parameter id="name" value="PluginConfigType" />
		<parameter id="description" value="Type PluginConfigType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Type" id="CoveringListSettingsMarkup">
		<parameter id="class" value="de.d3web.we.kdom.xcl.settings.CoveringListSettingsMarkup" />
		<parameter id="name" value="CoveringListSettingsMarkup" />
		<parameter id="description" value="Type CoveringListSettingsMarkup" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="CompileScript" id="InitPropertyHandler">
		<parameter id="class" value="de.knowwe.d3web.property.init.InitPropertyHandler" />
		<parameter id="name" value="InitPropertyHandler" />
		<parameter id="description" value="Handler InitPropertyHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="compilepriority" value="200" />
		<parameter id="scope" value="PropertyDeclarationType" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Type" id="PropertyTableType">
		<parameter id="class" value="de.d3web.we.kdom.propertytable.PropertyTableType" />
		<parameter id="name" value="PropertyTableType" />
		<parameter id="description" value="Type PropertyTableType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider" id="PropertyTableEditToolProvider">
		<parameter id="class" value="de.d3web.we.kdom.propertytable.PropertyTableToolProvider" />
		<parameter id="name" value="PropertyTableToolProvider" />
		<parameter id="description" value="Offers a tool for a spreadsheet-like table editor." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="3" />
		<parameter id="script" value="KnowWE-Plugin-InstantEdit.js" />
		<parameter id="script" value="KnowWE-Plugin-AutoComplete.js" />
		<parameter id="script" value="DefaultTableEditTool.js" />
		<parameter id="script" value="KnowWE-Plugin-d3web-MarkupSet.js" />
		<parameter id="css" value="KnowWE-Plugin-InstantEdit.css" />
		<parameter id="css" value="KnowWE-Plugin-AutoComplete.css" />
		<parameter id="css" value="DefaultTableEditTool.css" />
		<parameter id="scope" value="PropertyTableType" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Action" id="RuleFormatAction">
		<parameter id="class" value="de.d3web.we.kdom.rules.RuleFormatAction" />
		<parameter id="name" value="RuleFormatAction" />
		<parameter id="description" value="Pretty prints Rules" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider"
		id="RuleEditToolProvider">
		<parameter id="class"
			value="de.d3web.we.kdom.rules.utils.RuleEditToolProvider"/>
		<parameter id="name" value="RuleEditToolProvider"/>
		<parameter id="description"
			value="Offers a tool for formatting rules"/>
		<parameter id="version" value="1.0"/>
		<parameter id="priority" value="3"/>
		<parameter id="script" value="KnowWE-Plugin-d3web-basic.js"/>
		<parameter id="scope" value="Rule"/>
	</extension>

</plugin>
