.sparqlTable .border .sparqltable td {
	border: 1px solid #DDD;
}

.sparqlTable TABLE.sparqltable {
	margin: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.sparqlTable TABLE.sparqltable * TD {
	padding-bottom: 1px;
}

.sparqlTable .toolBar .toolButton {
	position: relative;
	border: 1px solid white;
}

.sparqlTable .border .sparqltable tr:first-child {
	background-color: #EEE;
}

.sparqlTable .sparqltable * TR.odd {
	background-color: #EEE;
}

.sparqlTable.defaultMarkupFrame:hover {
	background: transparent;
}

.sparqlTable .sparqltable * TH {
	vertical-align: middle;
	text-align: left;
}
