<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-KBRenderer" version="0.0.1">

	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
	</requires>

	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>

	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="KBRenderer">
		<parameter id="class" value="de.knowwe.kbrenderer.KBRenderer" />
		<parameter id="name" value="KBRenderer" />
		<parameter id="description" value="TagHandler KBRenderer" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="KnowWE-Plugin-d3web-basic.js" />
	</extension>

</plugin>