table {margin-bottom: 10px; background-color: #839CBD; border: 2px solid; width:50%;}
thead {background-color: #839CBD;}
tbody {background-color: #C3DCFD;}
td { halign:top;}
body {background-color: #FAF9E1; margin-left:50px;}

table.emphasized {border: 3px solid; border-color: #D60000 ;}
th.emphasized {text-align: middle; color: #D60000;}
tr.emphasized{font-weight: bold;}
td.emphasized {color: #D60000; vertical-align: top;}