<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-Include" version="1.0">

	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
	</requires>

	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="Include">
		<parameter id="class"
			value="de.knowwe.include.IncludeMarkup" />
		<parameter id="name" value="IncludeMarkup" />
		<parameter id="description" value="KnowWEObjectType IncludeMarkup" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
        <parameter id="css" value="KnowWE-Plugin-Include.css" />
        <parameter id="script" value="KnowWE-Plugin-Include.js" />
	</extension>

    <extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider"
        id="DocxDownloadProvider">
        <parameter id="class"
            value="de.knowwe.include.export.DocxDownloadProvider" />
        <parameter id="name" value="DocxDownloadProvider" />
        <parameter id="description"
            value="Offers a button for downloading a word document for the specific section." />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
        <parameter id="scope" value="IncludeMarkup" />
   </extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Action" id="GetWikiSectionTextAction">
		<parameter id="class" value="de.knowwe.include.GetWikiSectionTextAction" />
		<parameter id="name" value="GetWikiSectionTextAction" />
		<parameter id="description" value="Action GetWikiSectionTextAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
 
 </plugin>