<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-JSPWiki-Connector" version="1.0">
	
	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
	</requires>
	
	<runtime>
        <library id="de.knowwe" path="." type="code">
            <export prefix="*" />
        </library>
        <library id="webapp" path="webapp/" type="resources">
            <export prefix="*" />
        </library>
    </runtime>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
			id="LinkArticlesMarkup">
		<parameter id="class" value="de.knowwe.jspwiki.LinkArticlesMarkup" />
		<parameter id="name" value="LinkArticlesMarkup" />
		<parameter id="description" value="Markup to show list of articles" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
		<parameter id="css" value="KnowWE-Plugin-JSPWiki-Connector.css" />
		<parameter id="script" value="KnowWE-Plugin-JSPWiki-Connector.js" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider" id="AdministrationToolProvider">
		<parameter id="class" value="de.knowwe.jspwiki.administration.AdministrationToolProvider" />
		<parameter id="name" value="AdministrationToolProvider" />
		<parameter id="description" value="Offers quick access to set activationstatus = on." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="9" />
		<parameter id="scope" value="Administration" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Action" id="AdministrationToolProviderAction">
		<parameter id="class" value="de.knowwe.jspwiki.administration.AdministrationToolProvider" />
		<parameter id="name" value="AdministrationToolProvider" />
		<parameter id="description" value="Copies the current thead dump to clipboard" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
			id="AdministrationMarkup">
		<parameter id="class" value="de.knowwe.jspwiki.administration.AdministrationMarkup" />
		<parameter id="name" value="AdministrationMarkup" />
		<parameter id="description" value="Markup for administration tools" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
		<parameter id="css" value="KnowWE-Plugin-JSPWiki-Connector.css" />
		<parameter id="script" value="KnowWE-Plugin-JSPWiki-Connector.js" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="ReadOnlyMarkup">
		<parameter id="class" value="de.knowwe.jspwiki.readOnly.ReadOnlyMarkup" />
		<parameter id="name" value="ReadOnlyMarkup" />
		<parameter id="description" value="Markup for a read only switch" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
		<parameter id="css" value="KnowWE-Plugin-JSPWiki-Connector.css" />
		<parameter id="script" value="KnowWE-Plugin-JSPWiki-Connector.js" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="ReadOnlyMessageMarkup">
		<parameter id="class" value="de.knowwe.jspwiki.readOnly.ReadOnlyMessageMarkup" />
		<parameter id="name" value="ReadOnlyMessageMarkup" />
		<parameter id="description" value="Markup displaying a message if read-only mode is active" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Type" id="RecentChangesMarkup">
		<parameter id="class" value="de.knowwe.jspwiki.recentChanges.RecentChangesMarkup" />
		<parameter id="name" value="RecentChangesMarkup" />
		<parameter id="description" value="Markup for Recent-Changes View" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Action" id="RecentChangesFilterProviderAction">
		<parameter id="class" value="de.knowwe.jspwiki.recentChanges.RecentChangesFilterProviderAction" />
		<parameter id="name" value="RecentChangesFilterProviderAction" />
		<parameter id="description" value="Action RecentChangesFilterProviderAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
			id="ReadOnlyActionCheckbox">
		<parameter id="class"
				value="de.knowwe.jspwiki.ReadOnlyActionCheckbox" />
		<parameter id="name" value="ReadOnlyActionCheckbox" />
		<parameter id="description" value="Action ReadOnlyActionCheckbox" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="ReadOnlyAction">
        <parameter id="class"
            value="de.knowwe.jspwiki.readOnly.ReadOnlyAction" />
        <parameter id="name" value="ReadOnlyAction" />
        <parameter id="description" value="Action ReadOnlyAction" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>
	
</plugin>
