<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-JSPWiki-Connector" version="0.0.1">
	
	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
	</requires>
	
	<runtime>
        <library id="de.knowwe" path="." type="code">
            <export prefix="*" />
        </library>
        <library id="webapp" path="webapp/" type="resources">
            <export prefix="*" />
        </library>
    </runtime>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="ReadOnlyMarkup">
		<parameter id="class" value="de.knowwe.jspwiki.ReadOnlyMarkup" />
		<parameter id="name" value="ReadOnlyMarkup" />
		<parameter id="description" value="Markup for a read only switch" />
		<parameter id="version" value="0.2" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
		<parameter id="css" value="KnowWE-Plugin-JSPWiki-Connector.css" />
		<parameter id="script" value="KnowWE-Plugin-JSPWiki-Connector.js" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="ReadOnlyMessageMarkup">
		<parameter id="class" value="de.knowwe.jspwiki.ReadOnlyMessageMarkup" />
		<parameter id="name" value="ReadOnlyMessageMarkup" />
		<parameter id="description" value="Markup displaying a message if read-only mode is active" />
		<parameter id="version" value="0.2" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="ReadOnlyAction">
        <parameter id="class"
            value="de.knowwe.jspwiki.ReadOnlyAction" />
        <parameter id="name" value="ReadOnlyAction" />
        <parameter id="description" value="Action ReadOnlyAction" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>
	
</plugin>
