<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-SemanticCore" version="0.0.1">
	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
	</requires>
        	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Instantiation"
		id="SemanticCoreDelegator">
		<parameter id="class"
			value="de.d3web.we.core.semantic.SemanticCoreDelegator" />
		<parameter id="name" value="SemanticCoreDelegator" />
		<parameter id="description" value="Instantiation SemanticCoreDelegator" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="2" />
	</extension>
	
		<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="SemanticAnnotation">
		<parameter id="class"
			value="de.d3web.we.kdom.semanticAnnotation.SemanticAnnotation" />
		<parameter id="name" value="SemanticAnnotation" />
		<parameter id="description" value="KnowWEObjectType SemanticAnnotation" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-Plugin-SemanticCore.js" />
	</extension>
	
		<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="Namespaces">
		<parameter id="class"
			value="de.d3web.we.kdom.namespaces.Namespaces" />
		<parameter id="name" value="Namespaces" />
		<parameter id="description" value="KnowWEObjectType Namespaces" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-Plugin-SemanticCore.js" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="EventListener"
		id="SemanticCoreDelegatorEventListener">
		<parameter id="class"
			value="de.d3web.we.core.semantic.SemanticCoreDelegator" />
		<parameter id="name" value="SemanticCoreDelegator" />
		<parameter id="description" value="EventListener SemanticCoreDelegator" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
        <extension plugin-id="KnowWEExtensionPoints" point-id="SemanticCoreImpl" id="SemanticCoreImpl">
                <parameter id="class" value="de.d3web.we.core.semantic.SemanticCore"/>
                <parameter id="name" value="SemanticCoreImpl"/>
                <parameter id="description" value="real core"/>
                <parameter id="version"  value="0.0.1"/>
                <parameter id="priority" value="5" />
        </extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="DefaultMarkupSubtreeHandler"
		id="DefaultMarkupOwlHandler">
		<parameter id="class"
			value="de.d3web.we.kdom.defaultMarkup.DefaultMarkupOwlHandler" />
		<parameter id="name" value="DefaultMarkupOwlHandler" />
		<parameter id="description" value="Subtreehandler for Defaultmarkup to add owl knowledge" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
        
</plugin>