<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-Visualization" version="1.0">

	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
	</requires>

	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Type" id="VisualizationConfigType">
		<parameter id="class"
			value="de.knowwe.visualization.VisualizationConfigType" />
		<parameter id="name" value="de.knowwe.visualization.VisualizationConfigType" />
		<parameter id="description" value="Config Markup" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Type" id="VisConfigType">
		<parameter id="class"
			value="de.knowwe.visualization.VisConfigType" />
		<parameter id="name" value="de.knowwe.visualization.VisConfigType" />
		<parameter id="description" value="Config Markup" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
	</extension>

</plugin>
