<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-Core" version="0.0.1">
	
	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider"
		id="ObjectInfoPageToolProvider">
		<parameter id="class"
			value="de.d3web.we.kdom.objects.ObjectInfoPageToolProvider" />
		<parameter id="name" value="ObjectInfoPageToolProvider" />
		<parameter id="description"
			value="Offer a button to navigate to the object information page of an selected object." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="QuestionDefinition" />
		<parameter id="scope" value="QuestionnaireDefinition" />
		<parameter id="scope" value="SolutionDefinition" />
		<parameter id="scope" value="QuestionReference" />
		<parameter id="scope" value="QuestionnaireReference" />
		<parameter id="scope" value="SolutionReference" />
		<parameter id="scope" value="IDObjectReference" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="TagHandlerType">
		<parameter id="class"
			value="de.knowwe.core.taghandler.TagHandlerType" />
		<parameter id="name" value="TagHandlerType" />
		<parameter id="description" value="Type TagHandlerType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="CompileFlag">
		<parameter id="class"
			value="de.knowwe.core.packaging.CompileFlag" />
		<parameter id="name" value="CompileFlag" />
		<parameter id="description" value="Type CompileFlag" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5.0" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="ArticleToPackageFlag">
		<parameter id="class"
			value="de.knowwe.core.packaging.ArticleToPackageFlag" />
		<parameter id="name" value="ArticleToPackageFlag" />
		<parameter id="description" value="Type ArticleToPackageFlag" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5.0" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="VersionTagHandler">
		<parameter id="class"
			value="de.knowwe.version.taghandler.VersionTagHandler" />
		<parameter id="name" value="VersionTagHandler" />
		<parameter id="description" value="TagHandler VersionTagHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="KDOMRenderer">
		<parameter id="class"
			value="de.knowwe.core.kdom.taghandler.KDOMRenderer" />
		<parameter id="name" value="KDOMRenderer" />
		<parameter id="description" value="TagHandler KDOMRenderer" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="css" value="defaultMarkup.css" />
		<parameter id="css" value="toolsMenuDecorator.css" />
		<parameter id="script" value="toolsMenuDecorator.js" />
	</extension>	
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="ReRenderContentPartAction">
		<parameter id="class"
			value="de.knowwe.core.action.ReRenderContentPartAction" />
		<parameter id="name" value="ReRenderContentPartAction" />
		<parameter id="description" value="Action ReRenderContentPartAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="GlobalReplaceAction">
		<parameter id="class"
			value="de.knowwe.core.action.GlobalReplaceAction" />
		<parameter id="name" value="GlobalReplaceAction" />
		<parameter id="description" value="Action GlobalReplaceAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="WordBasedRenamingAction">
		<parameter id="class"
			value="de.knowwe.core.action.WordBasedRenamingAction" />
		<parameter id="name" value="WordBasedRenamingAction" />
		<parameter id="description" value="Action WordBasedRenamingAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
		<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="ReplaceKDOMNodeAction">
		<parameter id="class"
			value="de.knowwe.core.action.ReplaceKDOMNodeAction" />
		<parameter id="name" value="ReplaceKDOMNodeAction" />
		<parameter id="description" value="Action ReplaceKDOMNodeAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="ObjectInfoTagHandler">
		<parameter id="class" value="de.knowwe.core.taghandler.ObjectInfoTagHandler" />
		<parameter id="name" value="ObjectInfoTagHandler" />
		<parameter id="description" value="TagHandler ObjectInfoTagHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="KnowWE-Plugin-Core.js" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider"
		id="ObjectInfoToolProvider">
		<parameter id="class" value="de.knowwe.core.toolprovider.ObjectInfoToolProvider" />
		<parameter id="name" value="ObjectInfoToolProvider" />
		<parameter id="description"
			value="Offers some tools for the ObjectInfoTagHandler." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="/TagHandlerType/ObjectInfo" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="CreateObjectHomePageAction">
        <parameter id="class"
            value="de.knowwe.core.action.CreateObjectHomePageAction" />
        <parameter id="name" value="CreateObjectHomePageAction" />
        <parameter id="description" value="Action CreateObjectHomePageAction" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>
    
    <extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="TermRenamingAction">
        <parameter id="class"
            value="de.knowwe.core.action.TermRenamingAction" />
        <parameter id="name" value="TermRenamingAction" />
        <parameter id="description" value="Action TermRenamingAction" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>
    
    <extension plugin-id="KnowWEExtensionPoints" point-id="SearchProvider" id="JSPWikiSearchProvider">
		<parameter id="class" value="de.knowwe.core.jsp.JSPWikiSearchConnector" />
		<parameter id="name" value="JSPWikiSearchProvider" />
		<parameter id="description" value="KnowWESearchProvider JSPWikiSearchConnector" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5.0" />
	</extension>
    
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="KDOMReplaceTermNameAction">
		<parameter id="class"
			value="de.knowwe.core.action.KDOMReplaceTermNameAction" />
		<parameter id="name" value="KDOMReplaceTermNameAction" />
		<parameter id="description" value="Action KDOMReplaceTermNameAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>    
    
	<extension plugin-id="KnowWEExtensionPoints" point-id="PageAppendHandler"
		id="CorrectionAppendHandler">
		<parameter id="class"
			value="de.knowwe.core.correction.CorrectionAppendHandler" />
		<parameter id="name" value="CorrectionAppendHandler" />
		<parameter id="description" value="Dummy for adding CSS/JS" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="correction.js" />
		<parameter id="css" value="KnowWE-Plugin-d3web-basic.css" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider"
		id="CorrectionToolProvider">
		<parameter id="class"
			value="de.knowwe.core.correction.CorrectionToolProvider" />
		<parameter id="name" value="CorrectionToolProvider" />
		<parameter id="description"
			value="Offers to quickly correct typos in term references." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="TermReference" />
	</extension>
</plugin>