.tablePopupParent {
	display: inline-block;
	position: relative;
	padding-right: 42px;
}

.tablePopupIcon {
	position: absolute;
	top: 5px;
	right: 11px;
}

.tablePopupIcon .toolsMenuDecorator {
	height: 32px;
	top:-19px;
}

table.spreadsheet {
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	border-collapse: collapse;
}

table.spreadsheet tr td.header {
	border: 1px solid #CCC;
	background: #EEE;
	text-align: center;
	font-weight: bold;
}

table.spreadsheet tr td {
	border: 1px solid #CCC;
	background: #F5FAFF;
	padding: 0px;
}

table.spreadsheet tr td.multiSelected {
	background-color: #DDF;
}

table.spreadsheet tr td.selected {
	background-color: transparent;
}

table.spreadsheet tr td.selected.header {
	background-color: transparent;
	background: #EEE;
}

table.spreadsheet tr td > div {
	position: relative;
	min-width: 40px;
	min-height: 14px;
	white-space: pre-wrap;
}

table.spreadsheet tr td > div > a, 
table.spreadsheet tr td > div > a:hover, 
table.spreadsheet tr td > div > a:active, 
table.spreadsheet tr td > div > a:visited {
	display: block;
	text-decoration: none;
	color: black;
	margin: 3px 6px;
}

table.spreadsheet tr td.selected > div, 
table.spreadsheet tr td.selected.multiSelected > div {
	margin: -1px;
	border: 1px solid black;
	background-color: transparent;
}

table.spreadsheet tr td.selected > div > a, 
table.spreadsheet tr td.selected.multiSelected > div > a {
	box-shadow: 0px 0px 7px #06C;
}

table.spreadsheet tr td.copied > div,
table.spreadsheet tr td.copied.multiSelected > div {
	margin: -1px;
	border: 1px dashed black;
}

table.spreadsheet tr td.copied.selected.multiSelected > div {
	border: 1px dotted black;
}


div.cellEdit {
	position: absolute;
	z-index: 10;
}

/*
 * make sure that edit-menu is not visible in printed mode
 */
@media print {
	.tablePopupIcon * {
		visibility: hidden !important;
	}
}

