.type_Sparql a.anchor {
	display: none;
}

.type_Sparql.defaultMarkupFrame {
	padding-top: 2px;
}

.sparqlTable .border .sparqltable td, .sparqlTable .border .sparqltable th {
	border: 1px solid #DDD;
}

.sparqlTable .hide-filter .filter-icon {
	display: none;
}

.sparqlTable TABLE.sparqltable {
	margin: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: transparent;
}

.sparqlTable TABLE.sparqltable.logLevel {
	border-style: dashed;
}

.sparqlTable TABLE.sparqltable * TD {
	padding-bottom: 1px;
}

.sparqlTable .toolBar .toolButton {
	position: relative;
	border: 1px solid white;
}

.sparqlTable .border .sparqltable tr:first-child {
	background-color: #EEE;
}

.sparqlTable .sparqltable * TR.odd {
	background-color: #EEE;
}

.sparqlTable.defaultMarkupFrame:hover {
	background: transparent;
}

.sparqlTable .sparqltable * TH {
	vertical-align: middle;
	text-align: left;
	white-space: pre;
}

.emptySparqlResult {
	font-size: 140%;
	color: grey;
	margin: 2px;
}

.type_OntologyExcelTable .markupAnnotation {
	display: block;
}

.sparqlEditor {
	width: 100%;
	height: 150px;
	margin: 0.5em 0.25em;
	border: 1px solid #ddd;
	box-sizing: border-box;
}
