<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-CI4KE-d3web" version="0.0.1">
	
	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
		<import plugin-id="d3web-Plugin-TestingFramework" />
		<import plugin-id="KnowWE-Plugin-CI4KE" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>
	
	<extension plugin-id="d3web-Plugin-TestingFramework" point-id="TestObjectProvider"
		id="KnowledgeBaseProvider">
		<parameter id="class"
			value="de.d3web.we.ci4ke.WikiKnowledgeBaseProvider" />
		<parameter id="name" value="KnowledgeBaseProvider" />
		<parameter id="description" value="KnowledgeBaseProvider" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="d3web-Plugin-TestingFramework" point-id="TestObjectProvider"
		id="WikiTestCaseProvider">
		<parameter id="class"
			value="de.d3web.we.ci4ke.WikiTestCaseProvider" />
		<parameter id="name" value="WikiTestCaseProvider" />
		<parameter id="description" value="WikiTestCaseProvider" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWE-Plugin-CI4KE" point-id="ObjectNameRenderer"
		id="KnowledgeBaseRenderer">
		<parameter id="class"
			value="de.d3web.we.ci4ke.dashboard.rendering.ArticleRenderer" />
		<parameter id="name" value="ArticleRenderer" />
		<parameter id="description" value="ObjectRenderer for KnowledgeBases" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="de.d3web.core.knowledge.KnowledgeBase" />
	</extension>
	
	    
    <extension plugin-id="KnowWE-Plugin-CI4KE" point-id="ObjectNameRenderer"
		id="TestCaseRenderer">
		<parameter id="class"
			value="de.d3web.we.ci4ke.TestCaseRenderer" />
		<parameter id="name" value="TestCaseRenderer" />
		<parameter id="description" value="ObjectRenderer for TestCases" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="de.d3web.testcase.model.TestCase" />
	</extension>
		    
    <extension plugin-id="KnowWE-Plugin-CI4KE" point-id="ObjectNameRenderer"
		id="NamedObjectRenderer">
		<parameter id="class"
			value="de.d3web.we.ci4ke.NamedObjectRenderer" />
		<parameter id="name" value="TermRenderer" />
		<parameter id="description" value="ObjectRenderer for TermObjects" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="de.d3web.core.knowledge.terminology.NamedObject" />
    </extension>
</plugin>
