

/* ################################################## */
/* ------------Default Markup Styles----------------- */
/* ################################################## */

.defaultMarkupFrame {
	position:		relative;
	margin:			0px 0px 0px 0px;
	padding:		0px 0px 0px 0px;
}

.defaultMarkup {
	position:		relative;
	border: 		1px solid #DDD;
	background-color: #F9F9F9; 
	margin-right:	0em;
	margin-left:	0em;
	min-height:		30px;
	overflow-x:		hidden;
	overflow-y:		visible;
}

.defaultMarkup .markupText {
	white-space:	pre;
	padding:		3px 3px 3px 3px;
}

.defaultMarkupFrame .markupHeader {
	overflow: 		hidden;
	padding:		3px 10px 3px 10px; 
}

.defaultMarkupFrame .markupHeaderFrame {
	position:		absolute; 
	top:			1px; 
	right:			1px; 
	border-left:	1px solid #DDD; 
	border-bottom:	1px solid #DDD; 
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	background-color: white; 
	white-space:	nowrap;
	z-index:		1000;
	overflow: 		visible;
}

.defaultMarkupFrame .markupTools {
	display:		inline;
	vertical-align:	-3px;
}

.defaultMarkupFrame .markupMenuIndicator {
	background: white url(../../templates/knowweTmps/images/arrdownsmall.gif) no-repeat right 50%;
	padding-right: 15px;
}

.defaultMarkupFrame .markupMenu {
	position:	absolute;
	border:		2px solid #DDD;
	background-color: white; 
	right:		0px; 
	z-index:	2000;
	right:		-1px;
}

.defaultMarkupFrame .markupMenuItem {
	display:	block;
	list-style: none;
	padding:	0.25em;
	white-space: nowrap;
}

.defaultMarkupFrame .markupMenuItem > img {
	vertical-align:		-3px;
	color:				#036;
}

.defaultMarkupFrame .markupMenuItem a.markupMenuItem {
	padding:	0.25em;
	margin:		-0.25em;
}

.defaultMarkupFrame .customMenuItem a.markupMenuItem {
	margin:				0em;
	margin-left:		-0.25em;
	margin-right:		-0.25em;
}

.defaultMarkupFrame a.markupMenuItem:hover {
	background-color:	#EEE;
	text-decoration:	none;
	color:				#003DF5;
}

.defaultMarkupFrame .markupHeader .markupIcon {
	vertical-align:	-7px;
}

