

/* ################################################## */
/* ------------Default Markup Styles----------------- */
/* ################################################## */

.defaultMarkupFrame {
	border: 		1px solid #DDD;
	position:		relative;
	margin:			0px 0px 5px 0px;
	padding:		0px 0px 0px 0px;
}

.defaultMarkup {
	position:		relative;
	background-color: #F9F9F9; 
	margin-right:	0em;
	margin-left:	0em;
	min-height:		30px;
	overflow-x:		hidden;
	overflow-y:		visible;
}

.defaultMarkup .markupText {
	white-space:	pre-wrap;
	padding:		3px 3px 3px 3px;
}

.defaultMarkup .markupText .header {
	font-size: 16px;
	font-weight: bold;
	padding-top: 12px;
	padding-bottom: 12px;
}

.defaultMarkupFrame .headerMenu .markupHeader {
	overflow: 		hidden;
	padding:		3px 10px 3px 10px; 
}

.defaultMarkupFrame .headerToolbar .markupHeader {
	overflow: 		hidden;
	padding:		3px; 
}

.headerToolbar .markupHeader span {
	font-weight: 	bold;
	padding-left: 	5px;
}

.headerToolbar .markupHeader .markupTools {
	margin-left: 	10px;
}

.headerToolbar .markupHeader .markupTools div {
	display: 		inline;
	padding: 		3px;
}

.defaultMarkupFrame .markupHeaderFrame {
	top:			1px; 
	white-space:	nowrap;
	z-index:		1000;
	overflow: 		visible;
}

.defaultMarkupFrame .headerMenu {
	opacity: 0.3;
	z-index: 1000;
	max-width: 35px;
	background-color: white; 
	right:			1px; 
	position:		absolute; 
	border-left:	1px solid #DDD;
	border-bottom:	1px solid #DDD; 
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
}

.defaultMarkupFrame .headerToolbar {
	background-color: #DDD; 
	left:			1px; 
}

.defaultMarkupFrame .markupTools {
	display:		inline;
	vertical-align:	-3px;
}

.defaultMarkupFrame .markupMenuIndicator {
	background: white url(../../templates/knowweTmps/images/arrdownsmall.gif) no-repeat right 50%;
	padding-right: 15px;
}

.defaultMarkupFrame .markupMenu {
	display: none;
	position:	absolute;
	border:		2px solid #DDD;
	background-color: white; 
	right:		0px; 
	z-index:	2000;
	right:		-1px;
}

.defaultMarkupFrame .markupMenuItem {
	display:	block;
	list-style: none;
	padding:	0.25em;
	white-space: nowrap;
}

.defaultMarkupFrame .markupMenuItem > img {
	vertical-align:		-3px;
	color:				#036;
}

.defaultMarkupFrame .markupMenuItem a.markupMenuItem {
	padding:	0.25em;
	margin:		-0.25em;
}

.defaultMarkupFrame .customMenuItem a.markupMenuItem {
	margin:				0em;
	margin-left:		-0.25em;
	margin-right:		-0.25em;
}

.defaultMarkupFrame a.markupMenuItem:hover {
	background-color:	#EEE;
	text-decoration:	none;
	color:				#003DF5;
}

.defaultMarkupFrame .headerMenu .markupIcon {
	vertical-align:	-7px;
}

.defaultMarkupFrame .headerToolbar .markupIcon {
	vertical-align:	-3.5px;
}

.markupMenuDivider {
	line-height: 0px;
	border-top: 1px solid #DDD;
	display: block;
}

span.markupMenuItem {
	padding: 0 !important;
}

.defaultMarkupFrame .progress-container {
}

.defaultMarkupFrame .progress-container .progress-bar {
	display: inline-block;
	width: 50%;
	min-height: 14px;	
}
.defaultMarkupFrame .progress-container .progress-bar .ui-progressbar-value {
	height: 12px;
}

.defaultMarkupFrame .progress-container .progress-state {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 5px;
	background-image: url("../images/progress_stop.gif");
}

.defaultMarkupFrame .progress-container .progress-error .progress-state {
	background-image: url("../images/red_bulb.gif");
}

.defaultMarkupFrame .progress-container .progress-success .progress-state {
	background-image: url("../images/green_bulb.gif");
}

.defaultMarkupFrame .progress-container .progress-message,
.defaultMarkupFrame .progress-container .progress-close {
	display: inline-block;
	margin-left: 5px;
	top: -3px;
	position: relative;
}

.defaultMarkupFrame .progress-container .progress-close {
	color: grey;
}

/*
 * make sure that in print-out all titles are visible, 
 * but no menus
 */
@media print {
	.defaultMarkupFrame .markupMenu {
		opacity: 0 !important;
	}
	.defaultMarkupFrame .headerMenu {
		max-width: 250px !important;
		border-width: 0px !important;
	}
	.defaultMarkupFrame .headerMenu .markupHeader {
		padding: 3px 0px 0px 0px !important;
	}
	.defaultMarkupFrame .markupMenuIndicator {
		padding-right: 0px;
		visibility: hidden;
	}
}
