.packageOpacity {
	opacity: 0.4;
}

.defaultMarkupFrame.type_Package .packageOpacity {
	opacity: 1 !important;
}

.defaultMarkupFrame.type_KnowledgeBase .packageOpacity {
	opacity: 1 !important;
}

.kdom_table_text {
	border-left: 1px solid lightgray;
	max-height: 400px;
	overflow: auto;
}

.kdom_table_text .kdom_source {
	display: inline;
	background-color: lightgray;
	white-space: pre-wrap;
}