.toolsMenuDecorator {
	top:-1px;
	bottom:-1px;
	left:-1px;
	right:-15px;
	border: 1px dotted gray;
	border-radius: 4px;
	-moz-border-radius: 4px;
	text-align: right;
	background: url(../../KnowWEExtension/d3web/icon/dropdown-opaque.png) no-repeat right 50%;
	padding-right: 15px;
	visibility: hidden;
}


/* ############################################# */
/* ------------Tool Menu Styles----------------- */
/* ############################################# */

.toolMenuFrame {
	position:		relative;
	margin:			0px 0px 0px 0px;
	padding:		0px 0px 0px 0px;
}

.toolMenuFrame .markupHeader {
	overflow: 		hidden;
	padding:		3px 10px 3px 10px; 
}

.toolMenuFrame .markupHeaderFrame {
	position:		absolute; 
	top:			1px; 
	right:			1px; 
	border-left:	1px solid #DDD; 
	border-bottom:	1px solid #DDD; 
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	background-color: white; 
	white-space:	nowrap;
	z-index:		1000;
	overflow: 		visible;
}

.toolMenuFrame .markupTools {
	display:		inline;
	vertical-align:	-3px;
}

.toolMenuFrame .markupMenuIndicator {
	background: white url(../../templates/knowweTmps/images/arrdownsmall.gif) no-repeat right 50%;
	padding-right: 15px;
}

.toolMenuFrame .markupMenu {
	position:	absolute;
	border:		2px solid #DDD;
	background-color: white; 
	right:		0px; 
	z-index:	2000;
	right:		-1px;
}

.toolMenuFrame .markupMenuItem {
	display:	block;
	list-style: none;
	padding:	0.25em;
	white-space: nowrap;
}

.toolMenuFrame .markupMenuItem > img {
	vertical-align:		-3px;
	color:				#036;
}

.toolMenuFrame .markupMenuItem a.markupMenuItem {
	padding:	0.25em;
	margin:		-0.25em;
}

.toolMenuFrame .customMenuItem a.markupMenuItem {
	margin:				0em;
	margin-left:		-0.25em;
	margin-right:		-0.25em;
}

.toolMenuFrame a.markupMenuItem:hover {
	background-color:	#EEE;
	text-decoration:	none;
	color:				#003DF5;
}

.toolMenuFrame .markupHeader .markupIcon {
	vertical-align:	-7px;
}
