.toolsMenuDecorator {
	top:-1px;
	bottom:-1px;
	left:-1px;
	right:-15px;
	border: 1px dotted gray;
	border-radius: 4px;
	-moz-border-radius: 4px;
	text-align: right;
	background: url(../../KnowWEExtension/d3web/icon/dropdown-opaque.png) no-repeat right 50%;
	padding-right: 15px;
	visibility: hidden;
}
