.ui-dialog {
    border: 1px solid #9ACBFB !important;
}

.ui-dialog-titlebar {
	color: #036 !important;
}

.ui-dialog-titlebar h3 {
	margin: 0 0 0 0;
}

#ultimateEdit .editelement  {
	border-top: 1px solid #DDD;
	border-bottom: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;
	padding: 3px 3px 3px 3px;
	margin-bottom: 8px;
}

#ultimateEdit .editelement:hover {
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	background-color: #F1F1F1;
}

#ultimateEdit .nodisc li {
	margin-top: 8px;
	white-space: nowrap;

}

#ultimateEdit .defaultEditTool {
	margin-bottom: 0;
}

#ultimateEdit .objectinfo.preview {
	margin-bottom: 0 !important;
	white-space: pre-wrap;
}

#ultimateEdit .markupText {
	margin-left: 0px;
}

#ultimateEdit .extend-panel-right{
    padding:0px 20px !important;
    background: transparent;
}

#ultimateEdit .ueedittoolbar {
	background-color: #fff;
	color: gray;
	z-index: 1000;
	margin-top: 6px;
	margin-bottom: 8px;
	padding-top: 4px;
	padding-left: 2px;
	padding-bottom: 8px;
}

#ultimateEdit .ueedittoolbar a.action.cancel, .ueedittoolbar a.action.delete {
	padding: 0.25em 0.5em;
	margin: .5em .4em .5em 0;
	display: inline;
	width: 40px;
	text-decoration: none;
	border: 1px solid #DDD;
	background: #F9F9F9;
	white-space: nowrap;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}

#ultimateEdit .floating_ueedittoolbar {
	border-right: 1px solid #9ACBFB;
	margin-right: -1px;
	border-radius: 10px;
}

#ultimateEdit .ueeditmarker {
	background-color: #9ACBFB;
	position: absolute;
	width: 3px;
	left: -9px;
	top: 0px;
	z-index: 1000;
}

#ultimateEdit .ueeditmarker:after {
       content:url(../images/sort-arrow_up_down.png); 
       display:block;
       position:relative;
       left: -10px;
}

.ui-widget-overlay { background: #aaaaaa/*{bgColorOverlay}*/ url(images/ui-bg_flat_0_aaaaaa_40x100.png)/*{bgImgUrlOverlay}*/ 50%/*{bgOverlayXPos}*/ 50%/*{bgOverlayYPos}*/ repeat-x/*{bgOverlayRepeat}*/; opacity: .65 !important;filter:Alpha(Opacity=65) !important/*{opacityOverlay}*/; }
/*
.ui-dialog { z-index: 0 !important ;}
*/

.ui-dialog .ui-dialog-buttonpane {
text-align: left;
border-width: 1px 0 0 0;
background-image: none;
margin: .5em 0 0 0;
padding: .5em 1em !important;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
float: left !important;
}


.no-close .ui-dialog-titlebar-close {
  display: none !important;
}

#ueeditmaintoolbar {
	background-color: #fff;
	color: gray;
	position: relative;
	width: 220px;
	left: 50%;
	margin-left: -110px;
	z-index: 1000;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-right: 1px solid #9ACBFB;
	border-left: 1px solid #9ACBFB;
	border-bottom: 1px solid #9ACBFB;
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
}

#ueeditmaintoolbar a.action.cancel, #ueeditmaintoolbar a.action.save, #ueeditmaintoolbar a.action.delete {
	padding: 0.25em 0.5em;
	margin-right: 0.3em;
	margin-top: 0em;
	width: 40px;
	text-decoration: none;
	text-align: center;
	line-height: normal;
	border: 1px solid #DDD;
	background: #F9F9F9;
	white-space: nowrap;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}
