<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Basic-Plugins" version="0.0.1">
	
	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
	</runtime>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="SubClassing">
		<parameter id="class"
			value="de.d3web.we.kdom.dashTree.subclassing.SubClassing" />
		<parameter id="name" value="SubClassing" />
		<parameter id="description" value="KnowWEObjectType SubClassing" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="XMLDashTree">
		<parameter id="class"
			value="de.d3web.we.kdom.dashTree.XMLDashTree" />
		<parameter id="name" value="XMLDashTree" />
		<parameter id="description" value="KnowWEObjectType XMLDashTree" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="Table">
		<parameter id="class"
			value="de.d3web.we.kdom.table.TableXMLType" />
		<parameter id="name" value="Table" />
		<parameter id="description" value="KnowWEObjectType Table" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="Edit">
		<parameter id="class"
			value="de.d3web.we.kdom.edit.Edit" />
		<parameter id="name" value="Edit" />
		<parameter id="description" value="KnowWEObjectType Edit" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="CSS">
		<parameter id="class"
			value="de.d3web.we.kdom.css.CSS" />
		<parameter id="name" value="CSS" />
		<parameter id="description" value="KnowWEObjectType CSS" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="TagHandlerType">
		<parameter id="class"
			value="de.d3web.we.taghandler.TagHandlerType" />
		<parameter id="name" value="TagHandlerType" />
		<parameter id="description" value="KnowWEObjectType TagHandlerType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="GroovySparqlRenderer">
		<parameter id="class"
			value="de.d3web.we.kdom.sparql.groovy.GroovySparqlRenderer" />
		<parameter id="name" value="GroovySparqlRenderer" />
		<parameter id="description" value="KnowWEObjectType GroovySparqlRenderer" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="Sparql">
		<parameter id="class"
			value="de.d3web.we.kdom.sparql.Sparql" />
		<parameter id="name" value="Sparql" />
		<parameter id="description" value="KnowWEObjectType Sparql" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="Namespaces">
		<parameter id="class"
			value="de.d3web.we.kdom.namespaces.Namespaces" />
		<parameter id="name" value="Namespaces" />
		<parameter id="description" value="KnowWEObjectType Namespaces" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="Extension">
		<parameter id="class"
			value="de.d3web.we.kdom.owlextension.Extension" />
		<parameter id="name" value="Extension" />
		<parameter id="description" value="KnowWEObjectType Extension" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="OwlProperties">
		<parameter id="class"
			value="de.d3web.we.kdom.owlextension.OwlProperties" />
		<parameter id="name" value="OwlProperties" />
		<parameter id="description" value="KnowWEObjectType OwlProperties" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="SemanticAnnotation">
		<parameter id="class"
			value="de.d3web.we.kdom.semanticAnnotation.SemanticAnnotation" />
		<parameter id="name" value="SemanticAnnotation" />
		<parameter id="description" value="KnowWEObjectType SemanticAnnotation" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="Info">
		<parameter id="class"
			value="de.d3web.we.kdom.semanticFactSheet.Info" />
		<parameter id="name" value="Info" />
		<parameter id="description" value="KnowWEObjectType Info" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="Tags">
		<parameter id="class"
			value="de.d3web.we.kdom.tagging.Tags" />
		<parameter id="name" value="Tags" />
		<parameter id="description" value="KnowWEObjectType Tags" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="VerbatimType">
		<parameter id="class"
			value="de.d3web.we.kdom.basic.VerbatimType" />
		<parameter id="name" value="VerbatimType" />
		<parameter id="description" value="KnowWEObjectType VerbatimType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="3" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="Template">
		<parameter id="class"
			value="de.d3web.we.kdom.basic.Template" />
		<parameter id="name" value="Template" />
		<parameter id="description" value="KnowWEObjectType Template" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="3" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="SetQuickEditFlagAction">
		<parameter id="class"
			value="de.d3web.we.action.SetQuickEditFlagAction" />
		<parameter id="name" value="SetQuickEditFlagAction" />
		<parameter id="description" value="Action SetQuickEditFlagAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="WordBasedRenamingAction">
		<parameter id="class"
			value="de.d3web.we.action.WordBasedRenamingAction" />
		<parameter id="name" value="WordBasedRenamingAction" />
		<parameter id="description" value="Action WordBasedRenamingAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="GlobalReplaceAction">
		<parameter id="class"
			value="de.d3web.we.action.GlobalReplaceAction" />
		<parameter id="name" value="GlobalReplaceAction" />
		<parameter id="description" value="Action GlobalReplaceAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="ReplaceKDOMNodeAction">
		<parameter id="class"
			value="de.d3web.we.action.ReplaceKDOMNodeAction" />
		<parameter id="name" value="ReplaceKDOMNodeAction" />
		<parameter id="description" value="Action ReplaceKDOMNodeAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="UpdateTableKDOMNodesAction">
		<parameter id="class"
			value="de.d3web.we.action.UpdateTableKDOMNodesAction" />
		<parameter id="name" value="UpdateTableKDOMNodesAction" />
		<parameter id="description" value="Action UpdateTableKDOMNodesAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="KnowWEObjectTypeBrowserAction">
		<parameter id="class"
			value="de.d3web.we.action.KnowWEObjectTypeBrowserAction" />
		<parameter id="name" value="KnowWEObjectTypeBrowserAction" />
		<parameter id="description" value="Action KnowWEObjectTypeBrowserAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="KnowWEObjectTypeActivationAction">
		<parameter id="class"
			value="de.d3web.we.action.KnowWEObjectTypeActivationAction" />
		<parameter id="name" value="KnowWEObjectTypeActivationAction" />
		<parameter id="description" value="Action KnowWEObjectTypeActivationAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="TagHandlingAction">
		<parameter id="class"
			value="de.d3web.we.action.TagHandlingAction" />
		<parameter id="name" value="TagHandlingAction" />
		<parameter id="description" value="Action TagHandlingAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="AddKWikiUserAction">
		<parameter id="class"
			value="de.d3web.we.action.AddKWikiUserAction" />
		<parameter id="name" value="AddKWikiUserAction" />
		<parameter id="description" value="Action AddKWikiUserAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="AppendToPageContentAction">
		<parameter id="class"
			value="de.d3web.we.action.AppendToPageContentAction" />
		<parameter id="name" value="AppendToPageContentAction" />
		<parameter id="description" value="Action AppendToPageContentAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
		
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="ParseWebOfflineRenderer">
		<parameter id="class"
			value="de.d3web.we.action.ParseWebOfflineRenderer" />
		<parameter id="name" value="ParseWebOfflineRenderer" />
		<parameter id="description" value="Action ParseWebOfflineRenderer" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="RemoveKwikiUserAction">
		<parameter id="class"
			value="de.d3web.we.action.RemoveKwikiUserAction" />
		<parameter id="name" value="RemoveKwikiUserAction" />
		<parameter id="description" value="Action RemoveKwikiUserAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="ReRenderContentPartAction">
		<parameter id="class"
			value="de.d3web.we.action.ReRenderContentPartAction" />
		<parameter id="name" value="ReRenderContentPartAction" />
		<parameter id="description" value="Action ReRenderContentPartAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="SessionChooserRenderer">
		<parameter id="class"
			value="de.d3web.we.action.SessionChooserRenderer" />
		<parameter id="name" value="SessionChooserRenderer" />
		<parameter id="description" value="Action SessionChooserRenderer" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="SetCurrentWebAction">
		<parameter id="class"
			value="de.d3web.we.action.SetCurrentWebAction" />
		<parameter id="name" value="SetCurrentWebAction" />
		<parameter id="description" value="Action SetCurrentWebAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="TemplateGenerationAction">
		<parameter id="class"
			value="de.d3web.we.action.TemplateGenerationAction" />
		<parameter id="name" value="TemplateGenerationAction" />
		<parameter id="description" value="Action TemplateGenerationAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="UpdateKDOMNodeAction">
		<parameter id="class"
			value="de.d3web.we.action.UpdateKDOMNodeAction" />
		<parameter id="name" value="UpdateKDOMNodeAction" />
		<parameter id="description" value="Action UpdateKDOMNodeAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="PageAppendHandler"
		id="ValidationPageAppendHandler">
		<parameter id="class"
			value="de.d3web.we.module.ValidationPageAppendHandler" />
		<parameter id="name" value="ValidationPageAppendHandler" />
		<parameter id="description" value="PageAppendHandler ValidationPageAppendHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="PageViewHandler">
		<parameter id="class"
			value="de.d3web.we.taghandler.PageViewHandler" />
		<parameter id="name" value="PageViewHandler" />
		<parameter id="description" value="TagHandler PageViewHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="PageViewHandlerHG">
		<parameter id="class"
			value="de.d3web.we.taghandler.PageViewHandlerHG" />
		<parameter id="name" value="PageViewHandlerHG" />
		<parameter id="description" value="TagHandler PageViewHandlerHG" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="OwlUploadHandler">
		<parameter id="class"
			value="de.d3web.we.taghandler.OwlUploadHandler" />
		<parameter id="name" value="OwlUploadHandler" />
		<parameter id="description" value="TagHandler OwlUploadHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="TagHandlerListHandler">
		<parameter id="class"
			value="de.d3web.we.taghandler.TagHandlerListHandler" />
		<parameter id="name" value="TagHandlerListHandler" />
		<parameter id="description" value="TagHandler TagHandlerListHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="TagCloud">
		<parameter id="class"
			value="de.d3web.we.taghandler.TagCloud" />
		<parameter id="name" value="TagCloud" />
		<parameter id="description" value="TagHandler TagCloud" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="TagEditPanel">
		<parameter id="class"
			value="de.d3web.we.taghandler.TagEditPanel" />
		<parameter id="name" value="TagEditPanel" />
		<parameter id="description" value="TagHandler TagEditPanel" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="TagSearchHandler">
		<parameter id="class"
			value="de.d3web.we.taghandler.TagSearchHandler" />
		<parameter id="name" value="TagSearchHandler" />
		<parameter id="description" value="TagHandler TagSearchHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="ValidatorHandler">
		<parameter id="class"
			value="de.d3web.we.taghandler.ValidatorHandler" />
		<parameter id="name" value="ValidatorHandler" />
		<parameter id="description" value="TagHandler ValidatorHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="RenderClassMembersHandler">
		<parameter id="class"
			value="de.d3web.we.taghandler.RenderClassMembersHandler" />
		<parameter id="name" value="RenderClassMembersHandler" />
		<parameter id="description" value="TagHandler RenderClassMembersHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="VersionTagHandler">
		<parameter id="class"
			value="de.d3web.we.taghandler.VersionTagHandler" />
		<parameter id="name" value="VersionTagHandler" />
		<parameter id="description" value="TagHandler VersionTagHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="TemplateTagHandler">
		<parameter id="class"
			value="de.d3web.we.taghandler.TemplateTagHandler" />
		<parameter id="name" value="TemplateTagHandler" />
		<parameter id="description" value="TagHandler TemplateTagHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="RenamingTagHandler">
		<parameter id="class"
			value="de.d3web.we.taghandler.RenamingTagHandler" />
		<parameter id="name" value="RenamingTagHandler" />
		<parameter id="description" value="TagHandler RenamingTagHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="KDOMRenderer">
		<parameter id="class"
			value="de.d3web.we.taghandler.KDOMRenderer" />
		<parameter id="name" value="KDOMRenderer" />
		<parameter id="description" value="TagHandler KDOMRenderer" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="FactSheet">
		<parameter id="class"
			value="de.d3web.we.taghandler.FactSheet" />
		<parameter id="name" value="FactSheet" />
		<parameter id="description" value="TagHandler FactSheet" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="StatsHandler">
		<parameter id="class"
			value="de.d3web.we.taghandler.StatsHandler" />
		<parameter id="name" value="StatsHandler" />
		<parameter id="description" value="TagHandler StatsHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="ImportKnOfficeHandler">
		<parameter id="class"
			value="de.d3web.we.taghandler.ImportKnOfficeHandler" />
		<parameter id="name" value="ImportKnOfficeHandler" />
		<parameter id="description" value="TagHandler ImportKnOfficeHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="KnowWETypeActivationHandler">
		<parameter id="class"
			value="de.d3web.we.taghandler.KnowWETypeActivationHandler" />
		<parameter id="name" value="KnowWETypeActivationHandler" />
		<parameter id="description" value="TagHandler KnowWETypeActivationHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="KnowWEObjectTypeBrowserHandler">
		<parameter id="class"
			value="de.d3web.we.taghandler.KnowWEObjectTypeBrowserHandler" />
		<parameter id="name" value="KnowWEObjectTypeBrowserHandler" />
		<parameter id="description" value="TagHandler KnowWEObjectTypeBrowserHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="OwlDownloadHandler">
		<parameter id="class"
			value="de.d3web.we.taghandler.OwlDownloadHandler" />
		<parameter id="name" value="OwlDownloadHandler" />
		<parameter id="description" value="TagHandler OwlDownloadHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="ParseAllButton">
		<parameter id="class"
			value="de.d3web.we.taghandler.ParseAllButton" />
		<parameter id="name" value="ParseAllButton" />
		<parameter id="description" value="TagHandler ParseAllButton" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
</plugin>