<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-FAQ" version="0.0.1">
	
	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="FAQTagHandler">
		<parameter id="class"
			value="de.d3web.we.faq.FAQTagHandler" />
		<parameter id="name" value="FAQTagHandler" />
		<parameter id="description" value="TagHandler FAQTagHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="FAQRootType">
		<parameter id="class"
			value="de.d3web.we.faq.FAQRootType" />
		<parameter id="name" value="FAQRootType" />
		<parameter id="description" value="KnowWEObjectType FAQRootType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
	</extension>
	
</plugin>