.type_VisualizationConfig .node {
  cursor: pointer;
}

.type_VisualizationConfig .node circle {
  fill: #fff;
  stroke: darkblue;
  stroke-width: 1.5px;
}

.type_VisualizationConfig .node.expandable circle {
	fill: lightsteelblue;
}


.type_VisualizationConfig text.nodetext {
	fill: blue;

}

.type_VisualizationConfig path.link {
  fill: none;
  stroke: grey;
  stroke-width: 1.5px;
}

