.EditorToolMenu {
	z-index: 9998;
}
.EditorToolMenu .closearea {
	height: 40px;
	width: 40px;
}
.EditorToolMenu .menuarea {
	display: inline-block;
}
.EditorToolMenu .ui-menu .ui-state-disabled {
	margin: 0;
}
.EditorToolMenu .menuarea .ui-menu li.ui-menu-item a {
	white-space: nowrap;
}
.EditorToolMenu .menuarea .ui-menu li.ui-menu-item a span.ui-icon {
	display: inline-block;
	position: relative;
	top: 3px;
	left: 2px;
	padding-right: 8px;
}

.EditorToolMenu .menuarea .ui-menu li.ui-menu-item a span.ui-menu-icon.ui-icon.ui-icon-carat-1-e {
	right: 0;
	top: 3px;
	left: auto;
}

.EditorToolMenu .menuarea .ui-menu-icons li.ui-menu-item {
	padding-left: 0.4em;
}


.EditorToolMenu .menuarea .ui-menu li.ui-menu-item a span.ui-icon-align-left {
	background-image: url(../image/toolbar/align_left.png);
}
.EditorToolMenu .menuarea .ui-menu li.ui-menu-item a span.ui-icon-align-center {
	background-image: url(../image/toolbar/align_center.png);
}
.EditorToolMenu .menuarea .ui-menu li.ui-menu-item a span.ui-icon-align-right {
	background-image: url(../image/toolbar/align_right.png);
}
.EditorToolMenu .menuarea .ui-menu li.ui-menu-item a span.ui-icon-align-top {
	background-image: url(../image/toolbar/align_top.png);
}
.EditorToolMenu .menuarea .ui-menu li.ui-menu-item a span.ui-icon-align-middle {
	background-image: url(../image/toolbar/align_middle.png);
}
.EditorToolMenu .menuarea .ui-menu li.ui-menu-item a span.ui-icon-align-bottom {
	background-image: url(../image/toolbar/align_bottom.png);
}
.EditorToolMenu .menuarea .ui-menu li.ui-menu-item a span.ui-icon-extract-subflow {
	background-image: url(../image/toolbar/extract_subflow.png);
}
.EditorToolMenu .menuarea .ui-menu li.ui-menu-item a span.ui-icon-unfold-subflow {
	background-image: url(../image/toolbar/unfold_subflow.png);
}
.EditorToolMenu .menuarea .ui-menu li.ui-menu-item a span.ui-icon-path-to-node {
	background-image: url(../image/toolbar/path_to_node.png);
}
.EditorToolMenu .menuarea .ui-menu li.ui-menu-item a span.ui-icon-path-after-node {
	background-image: url(../image/toolbar/path_after_node.png);
}
.EditorToolMenu .menuarea .ui-menu li.ui-menu-item a span.ui-icon-edges-between {
	background-image: url(../image/toolbar/edges_between.png);
}
.EditorToolMenu .menuarea .ui-menu li.ui-menu-item a span.ui-icon-spread-middle-x {
	background-image: url(../image/toolbar/spread_middle-x.png);
}
.EditorToolMenu .menuarea .ui-menu li.ui-menu-item a span.ui-icon-spread-distance-x {
	background-image: url(../image/toolbar/spread_distance-x.png);
}
.EditorToolMenu .menuarea .ui-menu li.ui-menu-item a span.ui-icon-spread-middle-y {
	background-image: url(../image/toolbar/spread_middle-y.png);
}
.EditorToolMenu .menuarea .ui-menu li.ui-menu-item a span.ui-icon-spread-distance-y {
	background-image: url(../image/toolbar/spread_distance-y.png);
}
.EditorToolMenu .menuarea .ui-menu li.ui-menu-item a span.ui-icon-clean-up {
	background-image: url(../image/toolbar/clean-up.png);
}

div.ui-widget-overlay.ui-front {
	z-index: 9999;
}
div.ui-dialog.ui-front {
	z-index: 9999;
}
.no-close .ui-dialog-titlebar-close {
	display: none;
}