.haddock .type_DiaFlux a.anchor {
	display: inherit;
}

.haddock .type_DiaFlux * {
	box-sizing: content-box;
}

.Flowchart {
	position:	relative;
	background-image: url(../image/grid_10.png);
	background-position: 1px 1px;
	overflow:	auto;
	/* DefaultMarkup sets white-space to pre -> No wrap in nodes */
	white-space: normal;
	-webkit-print-color-adjust:exact;
	line-height: 16px;
}

.Flowchart_ghost {
	position:	absolute;
	top: 0px; 
	left: 0px;
	background-image: url(../image/grid_10.png);
	background-position: 1px 1px;
	overflow:	auto;
	opacity: 0.5;
	z-index: -10;
	/* DefaultMarkup sets white-space to pre -> No wrap in nodes */
	white-space: normal;
	-webkit-print-color-adjust:exact;
}
