.Node {
	position: absolute;
	overflow: visible;
	font-size: 10pt;
	background-color: var(--border-color-default);
	padding: 1px;
	z-index: 100;
	border-radius: 6px;
}

.Node .ActionPane {
	padding-top: 2px;
}

.Node .title {
	padding-top: 2px;
	padding-bottom: 1px;
	line-height: 16px;
}

.Node .badge {
	position: absolute;
	top: -10px;
	right: -10px;
	border: 2px solid white;
	border-radius: 10px;
	box-shadow: 2px 2px 3px 0px grey;
	text-align: center;
	padding: 0px 0px 0px 0px;
	color: white;
	background-color: #C20012;
	min-height: 15px;
	min-width: 15px;
}

.Node .node_highlight {
	position: absolute;
	top: -2px;
	bottom: -2px;
	left: -2px;
	right: -2px;
	border: 2px solid red;
	border-radius: 8px;
}

.Node .action, .Node .question, .Node .decision, .Node .flowchart {
	overflow: hidden;
	min-width: 80px;
	max-width: 200px;
	min-height: 40px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 4px;
}

.Node .start, .Node .exit, .Node .comment, .Node .snapshot {
	overflow: hidden;
	min-width: 60px;
	max-width: 200px;
	min-height: 18px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 4px;
}

.Node .comment {
	min-width: 15px;
}

.Node .action {
	background-color: var(--color-faint-blue-gradient1);
	background: -moz-linear-gradient(bottom, var(--color-faint-blue-gradient1), var(--color-faint-blue-gradient2));
	background: -webkit-gradient(linear, left top, left bottom, from(var(--color-faint-blue-gradient1)), to(var(--color-faint-blue-gradient2)));
}

.Node .question {
	background-color: var(--color-faint-yellow-gradient1);
	background: -moz-linear-gradient(bottom, var(--color-faint-yellow-gradient1), var(--color-faint-yellow-gradient2));
	background: -webkit-gradient(linear, left top, left bottom, from(var(--color-faint-yellow-gradient1)), to(var(--color-faint-yellow-gradient2)));
}

.Node .decision, .Node .flowchart {
	background-color: var(--color-grey-gradient1);
	background: -moz-linear-gradient(bottom, var(--color-grey-gradient2), var(--color-grey-gradient3));
	background: -webkit-gradient(linear, left top, left bottom, from(var(--color-grey-gradient2)), to(var(--color-grey-gradient3)));
}

.Node .exit {
	background-color: var(--color-faint-red-gradient1);
	background: -moz-linear-gradient(bottom, var(--color-faint-red-gradient2), var(--color-faint-red-gradient3));
	background: -webkit-gradient(linear, left top, left bottom, from(var(--color-faint-red-gradient2)), to(var(--color-faint-red-gradient3)));
}

.Node .start {
	background-color: var(--color-faint-green-gradient1);
	background: -moz-linear-gradient(bottom, var(--color-faint-green-gradient2), var(--color-faint-green-gradient3));
	background: -webkit-gradient(linear, left top, left bottom, from(var(--color-faint-green-gradient2)), to(var(--color-faint-green-gradient3)));
}

.Node .comment {
	background-color: var(--color-blue-gradient1);
	background: -moz-linear-gradient(bottom, var(--color-blue-gradient2), var(--color-blue-gradient3));
	background: -webkit-gradient(linear, left top, left bottom, from(var(--color-blue-gradient2)), to(var(--color-blue-gradient3)));
}

.Node .comment .title {
	font-weight: normal;
}

.Node .snapshot {
	background-color: var(--color-pink-gradient1);
	background: -moz-linear-gradient(bottom, var(--color-pink-gradient2), var(--color-pink-gradient3));
	background: -webkit-gradient(linear, left top, left bottom, from(var(--color-pink-gradient2)), to(var(--color-pink-gradient3)));
}

.Node .decorator {
	position: absolute;
	top: -10px;
	left: -9px;
	width: 20px;
	height: 20px;
	z-index: 200;
}

.Node .action .decorator {
	background-image: url(../image/node_decorators/action.png);
}

.Node .snapshot .decorator {
	background-image: url(../image/node_decorators/snapshot.png);
}

.Node .question .decorator {
	background-image: url(../image/node_decorators/question.png);
}

.Node .decision .decorator {
	background-image: url(../image/node_decorators/decision.png);
}

.Node .flowchart .decorator {
	background-image: url(../image/node_decorators/play.png);
}

.Node .exit .decorator {
	background-image: url(../image/node_decorators/exit.png);
}

.Node .start .decorator {
	background-image: url(../image/node_decorators/start.png);
}

.Node .comment .decorator {
	background-image: url(../image/node_decorators/comment.png);
}

.Node .text {
	font-size: 8pt;
	white-space: normal;
}

.Node .ActionPane .object {
	max-height: 36px;
	overflow: hidden;
	padding-left: 16px;
	background-repeat: no-repeat;
	background-position: 0px center;
}

.Node .ActionPane .value {
	padding-top: 4px;
	font-style: italic;
	color: var(--text-color-primary-light);
}

.Node .ActionPane .error {
	color: red;
	padding-left: 16px;
	background-image: url(../image/warning.png);
	background-repeat: no-repeat;
	background-position: 0px 4px;
	margin: 0px;
}

.Node .ActionPane .icon {
	position: relative;
	top: 2px;
	width: 16px;
	height: 16px;
}

.defaultMarkup .Node a:link, .defaultMarkup .Node a:visited, .defaultMarkup .Node a:active {
	color: #444;
}

.defaultMarkup .Node a:hover {
	color: #036;
}
