.Node {
	position: absolute;
	overflow: visible;
	font-size:	10pt;
	background-color: black;
	padding: 1px;
	z-index: 100;
	border-radius: 6px;
}

.Node .ActionPane {
	padding-top: 2px;
}

.Node .title {
	padding-top: 2px;
	padding-bottom: 1px;
	line-height: 16px;
}

.Node .badge {
	position: absolute;
	top: -10px;
	right: -10px;
	border: 2px solid white;
	border-radius: 10px;	
    box-shadow: 2px 2px 3px 0px grey;
    text-align: center;
    padding: 0px 0px 0px 0px;
	color: white;
	background-color: #C20012;
	min-height: 15px;
	min-width: 15px;
}

.Node .node_highlight {
	position: absolute;
	top: -2px;
	bottom: -2px;
	left: -2px;
	right: -2px;
	border: 2px solid red;
	border-radius: 8px;
}

.Node .action, .Node .question, .Node .decision, .Node .flowchart {
	overflow: hidden;
	min-width:  80px;
	max-width:	200px;
	min-height: 40px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 4px;
}

.Node .start, .Node .exit, .Node .comment , .Node .snapshot {
	overflow:	hidden;
	min-width:	60px;
	max-width:	200px;
	min-height: 18px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 4px;
}

.Node .comment {
	min-width:	15px;
}

.Node .action {
	background-color: #bcf; 
	background: -moz-linear-gradient(bottom,#bcf,#eef);
	background: -webkit-gradient(linear,left top,left bottom,from(#bcf),to(#eef));
}

.Node .question {
	background-color: #ffb; 
	background: -moz-linear-gradient(bottom,#ffb,#ffe);
	background: -webkit-gradient(linear,left top,left bottom,from(#ffb),to(#ffe));
}

.Node .decision, .Node .flowchart  {
	background-color: #eee; 
	background: -moz-linear-gradient(bottom,#ddd,#f5f5f5);
	background: -webkit-gradient(linear,left top,left bottom,from(#ddd),to(#f5f5f5));
}

.Node .exit {
	background-color: #fbb; 
	background: -moz-linear-gradient(bottom,#fcc,#fee);
	background: -webkit-gradient(linear,left top,left bottom,from(#fcc),to(#fee));
}

.Node .start {
	background-color: #bfb; 
	background: -moz-linear-gradient(bottom,#cfc,#efe);
	background: -webkit-gradient(linear,left top,left bottom,from(#cfc),to(#efe));
}

.Node .comment {
	background-color: #1af; 
	background: -moz-linear-gradient(bottom,#7cf,#bef);
	background: -webkit-gradient(linear,left top,left bottom,from(#7cf),to(#bef));
}
.Node .comment .title {
	font-weight: normal;
}

.Node .snapshot {
	background-color: #fbf; 
	background: -moz-linear-gradient(bottom,#fcf,#fef);
	background: -webkit-gradient(linear,left top,left bottom,from(#fcf),to(#fef));
}

.Node .decorator {
	position: absolute;
	top: -10px;
	left: -9px;
	width: 20px;
	height: 20px;
	z-index: 200;
}

.Node .action .decorator {
	background-image: url(../image/node_decorators/action.png);
}

.Node .snapshot .decorator {
	background-image: url(../image/node_decorators/snapshot.png);
}

.Node .question .decorator {
	background-image: url(../image/node_decorators/question.png);
}

.Node .decision .decorator {
	background-image: url(../image/node_decorators/decision.png);
}

.Node .flowchart .decorator {
	background-image: url(../image/node_decorators/play.png);
}

.Node .exit .decorator {
	background-image: url(../image/node_decorators/exit.png);
}

.Node .start .decorator {
	background-image: url(../image/node_decorators/start.png);
}

.Node .comment .decorator {
	background-image: url(../image/node_decorators/comment.png);
}

.Node .text {
	font-size:	8pt;
	white-space: normal;
}

.Node .ActionPane .object {
	max-height: 36px;
	overflow: hidden;
	padding-left: 16px;
	background-repeat: no-repeat;
    background-position: 0px center;
}

.Node .ActionPane .value {
	padding-top: 4px;
	font-style: italic;
	color: #444;
}

.Node .ActionPane .error {
	color: red;
	padding-left: 16px;
	background-image: url(../image/warning.png);
	background-repeat: no-repeat;
	background-position: 0px 4px;
	margin:	0px;
}

.Node .ActionPane .icon {
	position: relative;
	top: 2px;
	width: 16px;
	height: 16px;
}

.defaultMarkup .Node a:link, .defaultMarkup .Node a:visited, .defaultMarkup .Node a:active {
	color: #444;
}
.defaultMarkup .Node a:hover {
	color: #036;
}
