<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-TestSuite" version="0.0.1">

	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
		<import plugin-id="KnowWE-Plugin-TestCases" />
	</requires>

	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>

	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider"
		id="TestCaseToolProvider">
		<parameter id="class" value="de.d3web.we.testcase.toolprovider.TestCaseToolProvider" />
		<parameter id="name" value="TestCaseToolProvider" />
		<parameter id="description"
			value="Offers download buttons to download test suites as single files." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="TestCaseType" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="TestCaseType">
		<parameter id="class" 
			value="de.d3web.we.testcase.kdom.TestCaseType" />
		<parameter id="name" value="TestCaseType" />
		<parameter id="description" value="Type TestCaseType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider"
        id="InstantEditToolProvider">
        <parameter id="class"
            value="de.knowwe.instantedit.tools.InstantEditToolProvider" />
        <parameter id="name" value="InstantEditToolProvider" />
        <parameter id="description"
            value="Offers a button for quick editing a test case sections." />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
        <parameter id="script" value="KnowWE-Plugin-InstantEdit.js" />
        <parameter id="script" value="KnowWE-Plugin-AutoComplete.js" />
        <parameter id="script" value="DefaultEditTool.js" />
        <parameter id="script" value="TextArea.js" />
        <parameter id="css" value="KnowWE-Plugin-InstantEdit.css" />
        <parameter id="css" value="KnowWE-Plugin-AutoComplete.css" />
        <parameter id="css" value="DefaultEditTool.css" />
	    <parameter id="scope" value="TestCaseType" />
    </extension>

</plugin>