<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-Table" version="1.0">
	
	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
	</requires>
	
	<runtime>
		<library id="de.knowwe" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>	
	

	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="Table">
		<parameter id="class"
			value="de.knowwe.kdom.table.TableType" />
		<parameter id="name" value="TableType" />
		<parameter id="description" value="Type TableType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />	
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Action" id="TableToExcelAction">
		<parameter id="class" value="de.knowwe.kdom.table.excel.TableToExcelAction" />
		<parameter id="name" value="TableToExcelAction" />
		<parameter id="description" value="Downloads the table as Excel file." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider" id="TableToExcelProvider">
		<parameter id="class" value="de.knowwe.kdom.table.excel.TableToExcelProvider" />
		<parameter id="name" value="TableToExcelProvider" />
		<parameter id="description"
				   value="Offer a download button to download the current Table as an Excel file." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="TableType" />
	</extension>
	
</plugin>