<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-CITestModules-d3web" version="0.0.1">
	
	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
		<import plugin-id="d3web-Plugin-TestingFramework" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>




	<extension plugin-id="d3web-Plugin-TestingFramework" point-id="Test"
		id="TestsuiteRunnerTest">
		<parameter id="class"
			value="de.d3web.we.ci4ke.testmodules.TestsuiteRunnerTest" />
		<parameter id="name" value="TestsuiteRunner" />
		<parameter id="description" value="CITest TestsuiteRunner" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	
	<extension plugin-id="d3web-Plugin-TestingFramework" point-id="TestObjectProvider"
		id="KnowledgeBaseTestObjectProvider">
		<parameter id="class"
			value="de.d3web.we.ci4ke.WikiKnowledgeBaseTestObjectProvider" />
		<parameter id="name" value="KnowledgeBaseTestObjectProvider" />
		<parameter id="description" value="KnowledgeBaseTestObjectProvider" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
		<extension plugin-id="d3web-Plugin-TestingFramework" point-id="TestObjectProvider"
		id="WikiTestCaseTestObjectProvider">
		<parameter id="class"
			value="de.d3web.we.ci4ke.WikiTestCaseTestObjectProvider" />
		<parameter id="name" value="WikiTestCaseTestObjectProvider" />
		<parameter id="description" value="WikiTestCaseTestObjectProvider" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
</plugin>
