<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-CITestModules-d3web" version="0.0.1">
	
	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
		<import plugin-id="d3web-Plugin-TestingFramework" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>
	
	<extension plugin-id="d3web-Plugin-TestingFramework" point-id="TestObjectProvider"
		id="KnowledgeBaseProvider">
		<parameter id="class"
			value="de.d3web.we.ci4ke.WikiKnowledgeBaseProvider" />
		<parameter id="name" value="KnowledgeBaseProvider" />
		<parameter id="description" value="KnowledgeBaseProvider" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
		<extension plugin-id="d3web-Plugin-TestingFramework" point-id="TestObjectProvider"
		id="WikiTestCaseProvider">
		<parameter id="class"
			value="de.d3web.we.ci4ke.WikiTestCaseProvider" />
		<parameter id="name" value="WikiTestCaseProvider" />
		<parameter id="description" value="WikiTestCaseProvider" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
</plugin>
