<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-CI4KE" version="0.0.1">
	
	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>

	<!-- (DefaultMarkup-) ObjectType for CIDashboard -->
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="CIDashboardType">
		<parameter id="class"
			value="de.d3web.we.ci4ke.handling.CIDashboardType" />
		<parameter id="name" value="CIDashboardType" />
		<parameter id="description" value="KnowWEObjectType CIDashboardType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
	</extension>	

	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="CIAction">
		<parameter id="class"
			value="de.d3web.we.ci4ke.action.CIAction" />
		<parameter id="name" value="CIAction" />
		<parameter id="description" value="Action CIAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>	

	<extension plugin-id="KnowWEExtensionPoints" point-id="EventListener"
		id="CIEventForwarder">
		<parameter id="class"
			value="de.d3web.we.ci4ke.handling.CIEventForwarder" />
		<parameter id="name" value="CIEventForwarder" />
		<parameter id="description" value="EventListener CIEventForwarder" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider"
		id="CIDashboardToolProvider">
		<parameter id="class" value="de.d3web.we.ci4ke.handling.CIDashboardToolProvider" />
		<parameter id="name" value="CIDashboardToolProvider" />
		<parameter id="description"
			value="Offers the possibility to start a new build." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="/CIDashboardType" />
	</extension>
	
	<!-- CITests -->
	<extension plugin-id="KnowWEExtensionPoints" point-id="CITest"
		id="ArticleHasErrorsTest">
		<parameter id="class"
			value="de.d3web.we.ci4ke.testmodules.ArticleHasErrorsTest" />
		<parameter id="name" value="ArticleHasErrorsTest" />
		<parameter id="description" value="CITest ArticleHasErrorsTest" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="CITest"
		id="TestArticlesContain">
		<parameter id="class"
			value="de.d3web.we.ci4ke.testmodules.TestArticlesContain" />
		<parameter id="name" value="TestArticlesContain" />
		<parameter id="description" value="CITest TestArticlesContain" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="CITest"
		id="TestsuiteRunner">
		<parameter id="class"
			value="de.d3web.we.ci4ke.testmodules.TestsuiteRunner" />
		<parameter id="name" value="TestsuiteRunner" />
		<parameter id="description" value="CITest TestsuiteRunner" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="CITest"
		id="EmptyQuestionnaireTest">
		<parameter id="class"
			value="de.d3web.we.ci4ke.testmodules.EmptyQuestionnaireTest" />
		<parameter id="name" value="EmptyQuestionnaireTest" />
		<parameter id="description" value="CITest EmptyQuestionnaireTest" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="CIDaemonType">
		<parameter id="class"
			value="de.d3web.we.ci4ke.daemon.CIDaemonType" />
		<parameter id="name" value="CIDashboardType" />
		<parameter id="description" value="KnowWEObjectType CIDaemonType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
	</extension>	
	
</plugin>
