<?xml version="1.0" ?><!--
  ~ Copyright (C) 2015 denkbares GmbH, Germany
  ~
  ~ This is free software; you can redistribute it and/or modify it under the
  ~ terms of the GNU Lesser General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This software is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public License
  ~ along with this software; if not, write to the Free Software Foundation,
  ~ Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA, or see the FSF
  ~ site: http://www.fsf.org.
  -->

<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0"
	"http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-RightPanel" version="0.0.1">

	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
	</requires>

	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>

	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider" id="AddToWatchesToolProvider">
		<parameter id="class" value="de.knowwe.rightpanel.watches.AddToWatchesToolProvider" />
		<parameter id="name" value="AddToWatchesToolProvider" />
		<parameter id="description" value="Offer a button to add this term to the watches menu and opens it." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="QuestionDefinition" />
		<parameter id="scope" value="SolutionDefinition" />
		<parameter id="scope" value="QuestionReference" />
		<parameter id="scope" value="QuestionnaireReference" />
		<parameter id="scope" value="QASetReference" />
		<parameter id="scope" value="AnswerReference" />
		<parameter id="scope" value="AnswerDefinition" />
		<parameter id="scope" value="SolutionReference" />
		<parameter id="scope" value="NamedObjectReference" />
		<parameter id="scope" value="AbstractIRITermDefinition" />
		<parameter id="scope" value="IRITermReference" />
		<parameter id="scope" value="FlowchartOrderReference" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Action" id="GetExpressionValueAction">
		<parameter id="class" value="de.knowwe.rightpanel.watches.GetExpressionValueAction" />
		<parameter id="name" value="GetExpressionValueAction" />
		<parameter id="description" value="Action that gets a value for an arbitrary expression." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="KnowWE-Plugin-RightPanel.js" />
		<parameter id="css" value="KnowWE-Plugin-RightPanel.css" />
	</extension>

</plugin>