.KnowWE .defaultEditTool {
	font-size: 13px;
}

.haddock .defaultEditTool {
	font-size: 90%;
	line-height: 1.428571429;
}

.defaultEditTool {
	overflow-x: hidden;
}

.defaultEditTool {
	font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
	display: block;
	border: 1px solid #9ACBFB;
	background-color: #F5FAFF;
	padding: 5px;
	margin-bottom: 8px;
	width: 100%;
	resize: none;
	box-sizing: border-box;
	overflow-wrap: break-word;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	vertical-align: top;
	transition: height 0.2s;
	-webkit-transition: height 0.2s;
	-moz-transition: height 0.2s;
}

.editarea .wikitable .table-header > * {
	padding: 0
}
