.tablePopupParent {
	display: inline-block;
	position: relative;
	padding-right: 42px;
}

.tablePopupIcon {
	position: absolute;
	top: 5px;
	right: 11px;
}

.tablePopupIcon .toolsMenuDecorator {
	height: 32px;
	top: -19px;
}

table.spreadsheet {
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	border-collapse: collapse;
}

table.spreadsheet tr td.table-header {
	border: 1px solid var(--border-color-default);
	background: var(--bg-color-table-odd-th);
	text-align: center;
	font-weight: bold;
}

table.spreadsheet tr td {
	border: 1px solid var(--border-color-default);
	background: var(--bg-color-table-odd-th);
	padding: 0px;
}

table.spreadsheet tr td.multiSelected {
	background-color: var(--table-row-mulit-selected);
}

table.spreadsheet tr td.selected {
	background-color: transparent;
}

table.spreadsheet tr td.selected.table-header {
	background-color: transparent;
	background: var(--table-row-selected);
}

table.spreadsheet tr td > div {
	position: relative;
	min-width: 40px;
	min-height: 14px;
	white-space: pre-wrap;
}

table.spreadsheet tr td > div > a,
table.spreadsheet tr td > div > a:hover,
table.spreadsheet tr td > div > a:active,
table.spreadsheet tr td > div > a:visited {
	display: block;
	text-decoration: none;
	color: var(--text-color-primary);
	margin: 3px 6px;
}

table.spreadsheet tr td.selected > div,
table.spreadsheet tr td.selected.multiSelected > div {
	margin: -1px;
	border: 1px solid var(--border-color-strong);
	background-color: transparent;
}

table.spreadsheet tr td.selected > div > a,
table.spreadsheet tr td.selected.multiSelected > div > a {
	box-shadow: 0px 0px 7px var(--border-color-light);
}

table.spreadsheet tr td.copied > div,
table.spreadsheet tr td.copied.multiSelected > div {
	margin: -1px;
	border: 1px dashed var(--border-color-strong);
}

table.spreadsheet tr td.copied.selected.multiSelected > div {
	border: 1px dotted var(--border-color-strong);
}


div.cellEdit {
	position: absolute;
	z-index: 10;
}

/*
 * make sure that edit-menu is not visible in printed mode
 */
@media print {
	.tablePopupIcon * {
		visibility: hidden !important;
	}
}

