.nested-tool-menu {
    display: inline-block;
}

.nested-tool-menu .controls {
    display: none;
}

.nested-tool-menu:hover .controls {
    display: inline;
}

.nested-tool-menu:hover {
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -15px;
    border: 1px dotted gray;
    border-radius: 4px;
    -moz-border-radius: 4px;
}

.editarea .buttons {
    padding-bottom: 10px;
}

.editarea a.action.save, .editarea a.action.cancel, .editarea a.action.add, .editarea a.action.delete, .editarea a.action.format {
    padding: 0.25em 0.5em;
    display: inline-block;
    text-decoration: none;
    line-height: normal;
    border: 1px solid var(--border-color-table);
    background: var(--bg-color-default-Markup);
    white-space: nowrap;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

.editbuttons {
    width: 100%;
}

.editbuttons p {
    width: 40px;
    display: inline-table;
}

.changenotearea {
    padding: .25em;
}

.changenotearea span {
    font-weight: bold;
}