<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-DiaFlux" version="0.0.1">
	
	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
		<import plugin-id="d3web-DiaFlux" />
		<import plugin-id="KnowWE-Plugin-d3web-MarkupSet" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>
	
	<extension-point id="NodeHandler">
		<parameter-def id="class" />
		<parameter-def id="name" />
		<parameter-def id="description" />
		<parameter-def id="version" />
		<parameter-def id="priority" type="number" />
	</extension-point>
	
	<extension-point id="DiaFluxEditorEnhancement">
		<parameter-def id="class" />
		<parameter-def id="name" />
		<parameter-def id="description" />
		<parameter-def id="version" />
		<parameter-def id="priority" type="number" />
	</extension-point>
	
	<extension-point id="DiaFluxDisplayEnhancement">
		<parameter-def id="class" />
		<parameter-def id="name" />
		<parameter-def id="description" />
		<parameter-def id="version" />
		<parameter-def id="priority" type="number" />
		<parameter-def id="scope" multiplicity="one-or-more"/>
	</extension-point>
	
	
	<extension plugin-id="KnowWE-Plugin-DiaFlux" point-id="DiaFluxDisplayEnhancement"
		id="DiaFluxTraceHighlight">
		<parameter id="class"
			value="de.d3web.we.flow.DiaFluxTraceHighlight" />
		<parameter id="name" value="DiaFluxTraceHighlight" />
		<parameter id="description" value="DiaFluxTraceHighlight" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="diaflux" />
	</extension>
	
	<extension plugin-id="KnowWE-Plugin-DiaFlux" point-id="DiaFluxDisplayEnhancement"
		id="SubflowLinkifier">
		<parameter id="class"
			value="de.d3web.we.flow.SubflowLinkifier" />
		<parameter id="name" value="SubflowLinkifier" />
		<parameter id="description" value="SubflowLinkifier" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="diaflux" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="DiaFluxType">
		<parameter id="class"
			value="de.d3web.we.flow.type.DiaFluxType" />
		<parameter id="name" value="DiaFluxType" />
		<parameter id="description" value="Type DiaFluxType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="DiaFluxStateType">
		<parameter id="class"
			value="de.d3web.we.flow.type.DiaFluxStateType" />
		<parameter id="name" value="DiaFluxStateType" />
		<parameter id="description" value="Type DiaFluxStateType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="GetInfoObjects">
		<parameter id="class"
			value="de.d3web.we.flow.kbinfo.GetInfoObjects" />
		<parameter id="name" value="GetInfoObjects" />
		<parameter id="description" value="Action GetInfoObjects" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="SearchInfoObjects">
		<parameter id="class"
			value="de.d3web.we.flow.kbinfo.SearchInfoObjects" />
		<parameter id="name" value="SearchInfoObjects" />
		<parameter id="description" value="Action SearchInfoObjects" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="GetTraceHighlightAction">
		<parameter id="class"
			value="de.d3web.we.flow.GetTraceHighlightAction" />
		<parameter id="name" value="GetTraceHighlightAction" />
		<parameter id="description" value="Action GetTraceHighlightAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="GetSubflowLinksAction">
		<parameter id="class"
			value="de.d3web.we.flow.GetSubflowLinksAction" />
		<parameter id="name" value="GetSubflowLinksAction" />
		<parameter id="description" value="Action GetSubflowLinksAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
			
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="SaveFlowchartAction">
		<parameter id="class"
			value="de.d3web.we.flow.SaveFlowchartAction" />
		<parameter id="name" value="SaveFlowchartAction" />
		<parameter id="description" value="Action SaveFlowchartAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
			
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="LoadFlowchartAction">
		<parameter id="class"
			value="de.d3web.we.flow.kbinfo.LoadFlowchartAction" />
		<parameter id="name" value="LoadFlowchartAction" />
		<parameter id="description" value="Action LoadFlowchartAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<!--extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="AddSubFlowchart">
		<parameter id="class"
			value="de.d3web.we.flow.kbinfo.AddSubFlowchart" />
		<parameter id="name" value="AddSubFlowchart" />
		<parameter id="description" value="Action AddSubFlowchart" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>	
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="UpdateQuestions">
		<parameter id="class"
			value="de.d3web.we.flow.kbinfo.UpdateQuestions" />
		<parameter id="name" value="UpdateQuestions" />
		<parameter id="description" value="Action UpdateQuestions" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="UpdateSolutions">
		<parameter id="class"
			value="de.d3web.we.flow.kbinfo.UpdateSolutions" />
		<parameter id="name" value="UpdateSolutions" />
		<parameter id="description" value="Action UpdateSolutions" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension-->

	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider"
		id="FlowchartEditProvider">
		<parameter id="class" value="de.d3web.we.flow.type.FlowchartEditProvider" />
		<parameter id="name" value="FlowchartEditProvider" />
		<parameter id="description"
			value="Offers a button to grapically edit the flowchart in a new window." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="/DiaFluxType" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider"
		id="HighlightProvider">
		<parameter id="class"
			value="de.d3web.we.flow.HighlightProvider" />
		<parameter id="name" value="HighlightProvider" />
		<parameter id="description"
			value="Enables highlighting for active nodes and edges." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="/DiaFlux" />
	</extension>
	
	
</plugin>