<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-DiaFlux" version="0.0.1">
	
	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
		<import plugin-id="d3web-DiaFlux" />
		<import plugin-id="KnowWE-Plugin-d3web" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>
	
	<extension-point id="NodeHandler">
		<parameter-def id="class" />
		<parameter-def id="name" />
		<parameter-def id="description" />
		<parameter-def id="version" />
		<parameter-def id="priority" type="number" />
	</extension-point>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="FlowchartTagHandler">
		<parameter id="class"
			value="de.d3web.we.flow.FlowchartStateTagHandler" />
		<parameter id="name" value="FlowchartStateTagHandler" />
		<parameter id="description" value="TagHandler FlowchartStateTagHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="FlowchartType">
		<parameter id="class"
			value="de.d3web.we.flow.type.FlowchartType" />
		<parameter id="name" value="FlowchartType" />
		<parameter id="description" value="KnowWEObjectType FlowchartType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="AddSubFlowchart">
		<parameter id="class"
			value="de.d3web.we.flow.kbinfo.AddSubFlowchart" />
		<parameter id="name" value="AddSubFlowchart" />
		<parameter id="description" value="Action AddSubFlowchart" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="GetInfoObjects">
		<parameter id="class"
			value="de.d3web.we.flow.kbinfo.GetInfoObjects" />
		<parameter id="name" value="GetInfoObjects" />
		<parameter id="description" value="Action GetInfoObjects" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="SearchInfoObjects">
		<parameter id="class"
			value="de.d3web.we.flow.kbinfo.SearchInfoObjects" />
		<parameter id="name" value="SearchInfoObjects" />
		<parameter id="description" value="Action SearchInfoObjects" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="UpdateQuestions">
		<parameter id="class"
			value="de.d3web.we.flow.kbinfo.UpdateQuestions" />
		<parameter id="name" value="UpdateQuestions" />
		<parameter id="description" value="Action UpdateQuestions" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="UpdateSolutions">
		<parameter id="class"
			value="de.d3web.we.flow.kbinfo.UpdateSolutions" />
		<parameter id="name" value="UpdateSolutions" />
		<parameter id="description" value="Action UpdateSolutions" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider"
		id="FlowchartEditProvider">
		<parameter id="class" value="de.d3web.we.flow.type.FlowchartEditProvider" />
		<parameter id="name" value="FlowchartEditProvider" />
		<parameter id="description"
			value="Offers a button to grapically edit the flowchart in a new window." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="/FlowchartType" />
	</extension>
	
</plugin>