.type_TestCasePlayer .fillText {
	color: grey;
}

.type_TestCasePlayer .toolBar {
	display: inline-block;
}

.type_TestCasePlayer .toolBar.avoidMenu {
	padding-right: 40px;
}

.type_TestCasePlayer .toolSeparator {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	border-left: 2px solid #DDD;
	height: 10px;
}

.type_TestCasePlayer TABLE.wikitable {
	margin: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	table-layout: fixed;
}

.type_TestCasePlayer TABLE.wikitable * TD {
	padding-bottom: 1px;
	white-space: nowrap;
}

.type_TestCasePlayer .toolBar .toolButton {
	position: relative;
	border: 1px solid white;
}

.type_TestCasePlayer .wikitable * TR.odd {
	background-color: #EEE;
}

.type_TestCasePlayer .wikitable * TH {
	vertical-align: middle;
	text-align: left;
	white-space: nowrap;
}

.type_TestCasePlayer .wikitable * TH SELECT, .type_TestCasePlayer .wikitable * TH INPUT {
	margin-top: 0px;
	margin-bottom: 0px;
}

.type_TestCasePlayer .wikitable * TH IMG {
	top: 2px;
}

.type_TestCasePlayer .toolBar .toolButton.enabled:hover {
	border: 1px outset white;
}

.type_TestCasePlayer .toolButton IMG {
	position: relative;
	top: 3px;
}

.type_TestCasePlayer .wikitable .collapsedcolumn {
	max-width: 7px;
	overflow: hidden;
	padding-right: 0px;
}

.type_TestCasePlayer .wikitable .collapsedcolumn div {
	max-height: 20px;
}