<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-Table" version="0.0.1">
	
	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>	
	
    <extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="AppendTableNodesAction">
        <parameter id="class"
            value="de.d3web.we.kdom.table.AppendTableNodesAction" />
        <parameter id="name" value="AppendTableNodesAction" />
        <parameter id="description" value="Action AppendTableNodesAction" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>		

	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="Table">
		<parameter id="class"
			value="de.d3web.we.kdom.table.TableXMLType" />
		<parameter id="name" value="TableXMLType" />
		<parameter id="description" value="KnowWEObjectType TableXMLType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />		
	</extension>	
	
	
</plugin>