body {
	background-color: #eee;
	overflow: hidden;
	font-size: 12px;
}

#leftMenu {
	position: absolute;
	top: 50px;
	left: 5px;
	bottom: 5px;
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px solid gray;
	border-radius: 3px 3px 3px 3px;
}

#toolbar {
	position: absolute;
	background-color: #eee;
	top: 5px;
	left: 5px;
	right: 5px;
	min-width: 850px;
	padding-bottom: 1px;
	white-space: nowrap;
}

#toolbar ul.toolbar {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	color: #000;
	text-align: left;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#toolbar ul.toolbar li {
	display: inline-block;
	margin: 0px;
	padding: 3px 5px 3px 5px;
	min-width: 100px;
	min-height: 16px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-width: 1px 0px 1px 1px;
	font-family: Arial, Helvetica;
	font-size: 10pt;
}

#toolbar ul.toolbar li.icon {
	height: 32px;
	min-width: 37px;
	padding-right: 2px;
	background-repeat: no-repeat;
	background-position: 5px center;
}

#toolbar ul.toolbar li.iconsmall {
	height: 32px;
	min-width: 37px;
	background-repeat: no-repeat;
	background-position: 12px center;
}

#toolbar ul.toolbar li.selected,ul.toolbar li:hover {
	background-color: rgba(80, 80, 80, 0.25);
}

#toolbar ul.toolbar li:active, ul.toolbar li.active {
	background-color: rgba(0, 0, 0, 0.3);
}

#toolbar ul.toolbar li:first-child {
	border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
}

#toolbar ul.toolbar li:last-child {
	border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	border-width: 1px;
}

#changenotebar {
	border: 1px solid gray;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	width: 938px;
	padding-left: 3px;
	margin-bottom: 5px;
}

#changenotebar label {
	font-family: Arial, Helvetica;
	font-size: 10pt;
}

#changenotebar #changenote {
	width: 505px;
	height: 15px;
}

.propertyArea div {
	padding: 8px 0px 0px 0px;
}

.propertyArea {
	padding: 0px 5px;
	height: 38px;
	display: inline-block;
	border: 1px solid gray;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	vertical-align: top;
}

.propertyArea .propertyTitle {
	font-family: Arial, Helvetica;
	font-size: 10pt;
}

.propertyArea label.propertyTitle {
	margin-left: -5px;
	margin-top: 2px;
}

.propertyArea .propertyText {
	font-family: Arial, Helvetica;
	font-size: 10pt;
}

.propertyArea .short {
	width: 40px;
}

.propertyArea .long {
	width: 307px;
}

.propertyArea .medium {
	width: 220px;
}

.propertyArea .medium {
	width: 220px;
}

.pointer {
	cursor: pointer;
}

#contents {
	position: absolute;
	top: 50px;
	right: 5px;
	bottom: 5px;
	left: 237px;
	overflow: scroll;
}

#contents.contents_hover {
	box-shadow: 0px 0px 5px 2px grey;
	border-radius: 3px 3px 3px 3px;
}

#x_larger,#x_smaller,#y_larger,#y_smaller {
	display: none;
}

.FlowchartGroup { //
	margin-left: 230px;
}

.FlowchartGroup .Flowchart {
	border: 1px solid gray;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
}

.FlowchartGroup .inputFocus {
	position: fixed;
	overflow: hidden;
	width: 0px;
	height: 0px;
	top: 10px;
	left: 10px;
	z-index: -100;
}

.Node {
	cursor: move;
}

.Rule .rule_selector, .guard {
	cursor: crosshair;
}
.guard select {
	cursor: default;
}

.trashParent {
	position: absolute;
	overflow: visible;
	width: 64px;
	height: 64px;
	left: 235px;
	bottom: 7px;
}

.trashParent .trash {
	position: relative;
	overflow: visible;
	width: 64px;
	height: 64px;
	left: 0px;
	top: 0px;
	background-image: url(../image/trash64.png);
	z-index: 1000;
}

.trashParent .trash.trash_hover {
	background-image: url(../image/trash64-highlight.png);
}

.Flowchart #select_tool {
	border: 1px dotted grey;
	z-index: 2000;
}

.Flowchart .h_snapline {
	position: absolute;
	overflow: hidden;
	border-top: 1px dotted black;
	z-index: 0;
}

.Flowchart .v_snapline {
	position: absolute;
	overflow: hidden;
	border-left: 1px dotted black;
	z-index: 0;
}

#findSuggestionMenu {
	max-height: 50%;
	top: 50px;
	left: 5px;
	position: fixed;
	color: white;
	background-color: rgba(0, 0, 0, 0.8);
	-moz-border-radius: 10px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 10;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	overflow-x: hidden;
	overflow-y: auto;
	min-width: 210px;
	z-index: 20000;
}

#findSuggestionMenu_Tooltip {
	max-width: 450px;
	position: fixed;
	left: 20px;
	border: 1px solid #7F7F66;
	color: black;
	background-color: #FFFFCC;
	padding: 2px;
	z-index: 20000;
}

#findSuggestionMenu_Tooltip ul li {
	list-style-type: disc;
	margin-left: 2em;
	padding-left: 0px;
}

/* ie6 hack */
* html #findSuggestionMenu {
	background: url(images/tip.png) top left;
}
/* ie7 hack */
*:first-child+html #findSuggestionMenu {
	background: url(images/tip.png) top left;
}

#findSuggestionMenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#findSuggestionMenu li {
	padding: 0.25em 0.5em;
	cursor: pointer;
}

#findSuggestionMenu .hover {
	background-color: rgba(0, 0, 0, 0.5);
	-moz-border-radius: 10px;
	-webkit-border-radius: 5px;
}
/* ie6 hack */
* html #findSuggestionMenu .hover {
	background-color: black;
}
/* ie7 hack */
*:first-child+html #findSuggestionMenu .hover {
	background-color: black;
}