
.NodeEditor {
	font-size: 10pt;
	position: absolute;
	margin-top: 20px;
	z-index: 300;
}

.NodeEditor .background {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: -25px 0px 0px -5px;
	padding: 25px 5px 5px 5px;
	background-color: black;
	opacity: 0.30; 
	filter: alpha(opacity=30);
}

.NodeEditor optgroup {
	color: gray;
	font-size: 8pt;
	font-weight: 100;
	text-align: center;
	padding-top: 4px;
}

.NodeEditor .tabGroup {
	position: relative;
	font-size: 1px;
	white-space: nowrap;
}


.NodeEditor .paneGroup {
	position: relative;
	top: -1px;
	z-index: 50
}

.NodeEditor .actionPane {
	padding: 5px;
	background-color: #ffb;
	border: 1px gray solid;
	z-index: 50;
}

.NodeEditor .startPane {
	padding: 5px;
	background-color: #bfb;
	border: 1px gray solid;
	z-index: 50;
}

.NodeEditor .exitPane {
	padding: 5px;
	background-color: #fbb;
	border: 1px gray solid;
	z-index: 50;
}

.NodeEditor .commentPane {
	padding: 5px;
	background-color: #1af;
	border: 1px gray solid;
	z-index: 50;
}

.NodeEditor .snapshotPane {
	padding: 5px;
	background-color: #fbf;
	border: 1px gray solid;
	z-index: 50;
}


.NodeEditor .buttonGroup {
	position:relative;
	text-align: right;
	width: 100%;
	z-index: 30;
}

.NodeEditor button.ok {
	min-width: 60px;
}

.NodeEditor button.cancel {
}

.ActionEditor textarea.formula{
	width: 300px;
}

.Node_hover {
	overflow: visible;
	border: 2px solid red;
}

.ArrowTool {
	position: absolute; 
	overflow:visible; 
	width:26px;
	height:26px;
	z-index: 400;
	cursor: crosshair;
}

.ArrowTool_right {
	background-image: url(../image/tool_arrow_right.gif);
}

.ArrowTool_left {
	background-image: url(../image/tool_arrow_left.gif);
}

.ArrowTool_up {
	background-image: url(../image/tool_arrow_up.gif);
}

.ArrowTool_down {
	background-image: url(../image/tool_arrow_down.gif);
}

.RoutingTool {
	position: absolute; 
	overflow:visible; 
	width:14px;
	height:14px;
	z-index: 1010;
	cursor: crosshair;
	background-image: url(../image/tool_routing.gif);
}

.RoutingToolGray {
	position: absolute; 
	overflow:visible; 
	width:14px;
	height:14px;
	z-index: 1005;
	cursor: crosshair;
	background-image: url(../image/tool_routing_gray.gif);
}