.Rule {
	position:absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
}

.Rule .guard {
	font-family: Arial, Helvetica;
	font-size: 8pt;
	white-space: nowrap;
}

.Rule .rule_highlight {
	visibility: hidden;
	z-index: 10;
}

.Rule .rule_highlight .h_line_highlight, .Rule .rule_highlight .v_line_highlight {
	background-color: red;
	position: absolute;
	z-index: 0;
}

.Rule:hover {
	z-index: 300;
}
.Rule.selectedRule {
	z-index: 400;
}
.Rule:hover .guard .GuardPane {
	background-color: white;
}

.Rule.unselectedRule:hover .h_line, .Rule.unselectedRule:hover .v_line  {
	border: 1px solid black;
	margin: -1px;
}

.Rule .rule_selector {
	position: absolute;
	z-index: 100;
}

.Rule .guard .warning {
	background-color: #ff8;
}

.Rule .guard optgroup {
	color: gray;
	font-family: Arial,Helvetica;
	font-size: 8pt;
	font-weight: normal;
	text-align: center;
	padding-top: 4px;
}

.Rule .h_line, .Rule .v_line {
	position: absolute;
	background-color: black;
	z-index: 80;
}

.Rule .arrow {
	position: absolute;
	overflow: hidden;
}

.Rule .arrow_up {
	left: -4px;
	top: 0px;
	width: 9px;
	height: 9px;
	background-image: url(../image/arrow_up.gif); 
}

.Rule .arrow_down {
	left: -4px;
	bottom: 0px;
	width: 9px;
	height: 9px;
	background-image: url(../image/arrow_down.gif); 
}

.Rule .arrow_left {
	left: 0px;
	top: -4px;
	width: 9px;
	height: 9px;
	background-image: url(../image/arrow_left.gif); 
}

.Rule .arrow_right {
	right: 0px;
	top: -4px;
	width: 9px;
	height: 9px;
	background-image: url(../image/arrow_right.gif); 
}

.Rule .no_arrow {
	position: absolute;
	overflow: hidden;
	width: 0px;
	height: 0px;
}
