<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-WISEC" version="0.0.1">
	
	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>
		
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="ListCriteriaRootType">
		<parameter id="class"
			value="de.d3web.we.wisec.kdom.ListCriteriaRootType" />
		<parameter id="name" value="ListCriteriaRootType" />
		<parameter id="description" value="KnowWEObjectType ListCriteriaRootType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="ListSubstancesRootType">
		<parameter id="class"
			value="de.d3web.we.wisec.kdom.ListSubstancesRootType" />
		<parameter id="name" value="ListSubstancesRootType" />
		<parameter id="description" value="KnowWEObjectType ListSubstancesRootType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="UpperListCategoriesRootType">
		<parameter id="class"
			value="de.d3web.we.wisec.kdom.UpperListCategoriesRootType" />
		<parameter id="name" value="UpperListCategoriesRootType" />
		<parameter id="description" value="KnowWEObjectType UpperListCategoriesRootType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="EventListener"
		id="WISECFindingSetEventListener">
		<parameter id="class"
			value="de.d3web.we.wisec.event.WISECFindingSetEventListener" />
		<parameter id="name" value="WISECFindingSetEventListener" />
		<parameter id="description" value="EventListener WISECFindingSetEventListener" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="WISECRankingFormTagHandler">
	 	<parameter id="class"
			value="de.d3web.we.wisec.taghandler.WISECRankingFormTagHandler" />
		<parameter id="name" value="WISECRankingFormTagHandler" />
		<parameter id="description" value="TagHandler WISECRankingFormTagHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="wisec.js" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="WISECRankingTagHandler">
	 	<parameter id="class"
			value="de.d3web.we.wisec.taghandler.WISECRankingTagHandler" />
		<parameter id="name" value="WISECRankingTagHandler" />
		<parameter id="description" value="TagHandler WISECRankingTagHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="ShowSubstancesHandler">
	 	<parameter id="class"
			value="de.d3web.we.wisec.taghandler.ShowSubstancesHandler" />
		<parameter id="name" value="ShowSubstancesHandler" />
		<parameter id="description" value="TagHandler ShowSubstancesHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
</plugin>