.type_TestCasePlayer table.wikitable {
	margin-top: 5px;
	margin-bottom: 5px;
	table-layout: fixed;
}

.type_TestCasePlayer TABLE.wikitable * TD {
	padding-bottom: 1px;
}

.type_TestCasePlayer .toolBar .toolButton {
	position: relative;
	border: 1px solid white;
}

.type_TestCasePlayer .wikitable * TR.odd {
	background-color: var(--bg-color-table-odd-th);
}

.type_TestCasePlayer .wikitable * TH {
	vertical-align: middle;
	text-align: left;
}

.type_TestCasePlayer .wikitable * TH SELECT, .type_TestCasePlayer .wikitable * TH INPUT {
	margin-top: 0px;
	margin-bottom: 0px;
	max-width: 200px;
}

.type_TestCasePlayer .wikitable * TH IMG {
	top: 2px;
}

.type_TestCasePlayer .toolBar .toolButton.enabled:hover {
	border: 1px outset white;
}

.type_TestCasePlayer .toolButton IMG {
	position: relative;
	top: 3px;
}

.type_TestCasePlayer .wikitable .collapsedcolumn {
	max-width: 7px;
	overflow: hidden;
	white-space: nowrap;
	padding-right: 0px;
}

.type_TestCasePlayer .wikitable .collapsedcolumn div {
	max-height: 20px;
}

.type_TestCasePlayer .wikitable th input {
	padding: 0px 3px 0px 3px;
	margin-top: 2px;
}