.DropDownList {
	border: 1px solid gray;
	min-width: 150px;
	background-color:white;
	z-index: 200;
}
.DropDownItem, .DropDownItem_highlight, .DropDownItem_disabled {
	font-family: Arial,Helvetica;
	font-size: 10pt;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #eee;
	margin-top: 1px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.DropDownItem_highlight {
	background-color: #ffb; 
}
.DropDownItem_disabled {
	color: #888;
	background-color: #eee;
}
.DropDownItem em, .DropDownItem_highlight em, .DropDownItem_disabled em {
	font-style: normal;
	background-color: #bbb;
	text-decoration: underline;
} 
.DropDownItem_highlight em {
	background-color: #ff8;
}
