.ObjectTree {
	font-size: 10pt;
	cursor: pointer;
	z-index: 100;
	width: 215px;
	padding: 2px 5px;
}
.ObjectTree .rootTree {
	margin-left: 10px;
	position: relative;
}
.ObjectTree .subTree {
	margin-left: 10px;
	position: relative;
}
.ObjectTree .item, .ObjectTree .wait {
	padding: 1px 5px 2px 5px;
	position: relative;
	display: inline-block;
}
.ObjectTree .wait {
	color: gray;
}
.ObjectTree .item:hover, .ObjectTree .wait:hover {
	background-color: #CED7E8; 
}
.ObjectTree .expandButton { 
	position: absolute;
	margin-left: 0px;
	left: -10px; 
	top: 6px; 
	width: 10px; 
	height: 8px; 
	background: url('../image/kbinfo/collapsed.gif');
}
.ObjectTree .expandButton:hover { 
	background-position: 0px -8px;
}
.ObjectTree .collapseButton { 
	position: absolute;
	margin-left: 0px;
	left: -10px; 
	top: 6px; 
	width: 10px; 
	height: 8px; 
	background: url('../image/kbinfo/expanded.gif');
}
.ObjectTree .collapseButton:hover { 
	background-position: 0px -8px;
}
.ObjectTree .icon { 
	position: relative; 
	margin-left: 0px;
	left: -2px; 
	top: 2px; 
	display: inline-block; 
	font-size: 1px; 
}
.ObjectTree .waitIcon { 
	position: relative; 
	margin-left: 0px;
	left: 3px; 
	top: 3px; 
	display: inline-block; 
	font-size: 1px; 
	width: 16px; 
	height: 16px; 
	background: url('../image/kbinfo/wait16.gif');
}
