<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-QuickInterview" version="0.0.1">
	
	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
		<import plugin-id="KnowWE-Plugin-d3web" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="QuickInterviewTagHandler">
		<parameter id="class"
			value="de.d3web.we.quicki.QuickInterviewTagHandler" />
		<parameter id="name" value="QuickInterviewTagHandler" />
		<parameter id="description" value="TagHandler QuickInterviewTagHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="quicki.js" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="QuickInterviewAction">
		<parameter id="class"
			value="de.d3web.we.quicki.QuickInterviewAction" />
		<parameter id="name" value="QuickInterviewAction" />
		<parameter id="description" value="Action QuickInterviewAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="QuickInterviewResetAction">
		<parameter id="class"
			value="de.d3web.we.quicki.QuickInterviewResetAction" />
		<parameter id="name" value="QuickInterviewResetAction" />
		<parameter id="description" value="Action QuickInterviewResetAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
</plugin>