<?xml version="1.0" ?><!--
  ~ Copyright (C) 2014 denkbares GmbH, Germany
  ~
  ~ This is free software; you can redistribute it and/or modify it under the
  ~ terms of the GNU Lesser General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This software is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public License
  ~ along with this software; if not, write to the Free Software Foundation,
  ~ Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA, or see the FSF
  ~ site: http://www.fsf.org.
  -->

<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0"
	"http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-Rdf2GoSemanticCore" version="0.0.1">
	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
	</requires>

	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>


	<extension-point id="SparqlResultNodeRenderer">
		<parameter-def id="class" />
		<parameter-def id="name" />
		<parameter-def id="description" />
		<parameter-def id="version" />
		<parameter-def id="priority" type="number" />
	</extension-point>


	<extension-point id="Rdf2GoModelConfig">
		<parameter-def id="name" />
		<parameter-def id="description" />
		<parameter-def id="version" />
		<parameter-def id="priority" type="number" />
		<parameter-def id="model" multiplicity="one" />
		<parameter-def id="reasoning" multiplicity="one" />
	</extension-point>

	<extension plugin-id="KnowWE-Plugin-Rdf2GoSemanticCore" point-id="SparqlResultNodeRenderer"
		id="DecodeUrlNodeRenderer">
		<parameter id="class" value="de.knowwe.rdf2go.sparql.DecodeUrlNodeRenderer" />
		<parameter id="name" value="DecodeUrlNodeRenderer" />
		<parameter id="description" value="NodeRenderer DecodeUrlNodeRenderer" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="3" />
	</extension>

	<!--extension plugin-id="KnowWE-Plugin-Rdf2GoSemanticCore"
			point-id="SparqlResultNodeRenderer"
			id="ShrinkNodeRenderer">
		<parameter id="class"
			value="de.knowwe.rdf2go.sparql.ShrinkNodeRenderer" />
		<parameter id="name" value="ShrinkNodeRenderer" />
		<parameter id="description" value="NodeRenderer ShrinkNodeRenderer" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="1000" />
	</extension-->

	<extension plugin-id="KnowWE-Plugin-Rdf2GoSemanticCore" point-id="SparqlResultNodeRenderer"
		id="TrimDataTypeNodeRenderer">
		<parameter id="class" value="de.knowwe.rdf2go.sparql.TrimDataTypeNodeRenderer" />
		<parameter id="name" value="TrimDataTypeNodeRenderer" />
		<parameter id="description" value="NodeRenderer TrimDataTypeNodeRenderer" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="50" />
	</extension>

	<extension plugin-id="KnowWE-Plugin-Rdf2GoSemanticCore" point-id="SparqlResultNodeRenderer"
		id="TrimLocaleNodeRenderer">
		<parameter id="class" value="de.knowwe.rdf2go.sparql.TrimLocaleNodeRenderer" />
		<parameter id="name" value="TrimLocaleNodeRenderer" />
		<parameter id="description" value="NodeRenderer TrimLocaleNodeRenderer" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="60" />
	</extension>

	<extension plugin-id="KnowWE-Plugin-Rdf2GoSemanticCore" point-id="SparqlResultNodeRenderer"
		id="TrimNamespaceNodeRenderer">
		<parameter id="class" value="de.knowwe.rdf2go.sparql.TrimNamespaceNodeRenderer" />
		<parameter id="name" value="TrimNamespaceNodeRenderer" />
		<parameter id="description" value="NodeRenderer TrimNamespaceNodeRenderer" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="50" />
	</extension>

	<extension plugin-id="KnowWE-Plugin-Rdf2GoSemanticCore" point-id="SparqlResultNodeRenderer"
		id="ArticleLinkNodeRenderer">
		<parameter id="class" value="de.knowwe.rdf2go.sparql.ArticleLinkNodeRenderer" />
		<parameter id="name" value="ArticleLinkNodeRenderer" />
		<parameter id="description" value="NodeRenderer ArticleLinkNodeRenderer" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="2" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider" id="SparqlMarkupTypeInstantEditToolProvider">
		<parameter id="class" value="de.knowwe.instantedit.tools.InstantEditToolProvider" />
		<parameter id="name" value="SparqlMarkupTypeInstantEditToolProvider" />
		<parameter id="description" value="Offers a button for quick editing a certain section." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="KnowWE-Plugin-InstantEdit.js" />
		<parameter id="script" value="KnowWE-Plugin-AutoComplete.js" />
		<parameter id="script" value="DefaultEditTool.js" />
		<parameter id="script" value="TextArea.js" />
		<parameter id="css" value="KnowWE-Plugin-InstantEdit.css" />
		<parameter id="css" value="KnowWE-Plugin-AutoComplete.css" />
		<parameter id="css" value="DefaultEditTool.css" />
		<parameter id="scope" value="SparqlMarkupType" />
	</extension>

	<extension plugin-id="KnowWE-Plugin-Rdf2GoSemanticCore" point-id="SparqlResultNodeRenderer"
		id="ReduceNamespaceNodeRenderer">
		<parameter id="class" value="de.knowwe.rdf2go.sparql.ReduceNamespaceNodeRenderer" />
		<parameter id="name" value="ReduceNamespaceNodeRenderer" />
		<parameter id="description" value="NodeRenderer ReduceNamespaceNodeRenderer" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="100" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Type" id="ShowNamespacesType">
		<parameter id="class" value="de.knowwe.kdom.namespaces.rdf2go.ShowNamespacesType" />
		<parameter id="name" value="ShowNamespacesType" />
		<parameter id="description" value="Type ShowNamespacesType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-Plugin-Rdf2GoSemanticCore.js" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Type" id="SparqlMarkupType">
		<parameter id="class" value="de.knowwe.rdf2go.sparql.SparqlMarkupType" />
		<parameter id="name" value="SparqlMarkupType" />
		<parameter id="description" value="Type SparqlMarkupType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="3" />
		<parameter id="scope" value="root" />
		<parameter id="css" value="KnowWE-Plugin-Rdf2GoSemanticCore.css" />
	</extension>

	<!-- extensions for basic preview rendering -->
	<extension plugin-id="KnowWEExtensionPoints" point-id="PreviewRenderer" id="SparqlPreviewRenderer">
		<parameter id="class" value="de.knowwe.rdf2go.sparql.SparqlPreviewRenderer" />
		<parameter id="name" value="SparqlPreviewRenderer" />
		<parameter id="description" value="Renders a preview of a sparql query." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="SparqlMarkupType/**/SparqlContentType" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler" id="DumpHandler">
		<parameter id="class" value="de.knowwe.rdf2go.utils.DumpHandler" />
		<parameter id="name" value="DumpHandler" />
		<parameter id="description" value="TagHandler DumpHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Action" id="RDFXMLExportAction">
		<parameter id="class" value="de.knowwe.rdf2go.export.RDFXMLExportAction" />
		<parameter id="name" value="RDFXMLExportAction" />
		<parameter id="description" value="Action RDFXMLExportAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Action" id="ClearCachedSparqlAction">
		<parameter id="class" value="de.knowwe.rdf2go.sparql.ClearCachedSparqlAction" />
		<parameter id="name" value="ClearCachedSparqlAction" />
		<parameter id="description" value="Action ClearCachedSparqlAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Action" id="RefreshSparqlAction">
		<parameter id="class" value="de.knowwe.rdf2go.sparql.RefreshSparqlAction" />
		<parameter id="name" value="RefreshSparqlAction" />
		<parameter id="description" value="Action RefreshSparqlAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler" id="RDFXMLExportButtonHandler">
		<parameter id="class" value="de.knowwe.rdf2go.export.RDFXMLExportButtonHandler" />
		<parameter id="name" value="RDFXMLExportButtonHandler" />
		<parameter id="description" value="TagHandler RDFXMLExportButtonHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="KnowWE-Plugin-Rdf2GoSemanticCore.js" />
	</extension>


</plugin>
