.lineerror {
	background: #FFF6BF;
}

.cellerror {
	background: #FFF6BF;
}

.ruleDebugView .d3webRule > span {
	line-height: 40px;
}

.ruleDebugView .Condition > span {
	line-height: 40px;
}

.RuleAction {
	display: inline-block;
}

/* -- IfCondition/Condition -- */

.IfCondition {
	background-color: inherit;
}

.ruleDebugView .ruleDebug .IfCondition {
	padding: 8px 0 8px 0;
}

/* - condition evaluation - */

.conditionTrue {
	background-color: #CFFFCF;
}

.conditionFalse {
	background-color: #FFCFCF;
}

.conditionUnknown {
	background-color: #CFD5FF;
}

.conditionUndefined {
	background-color: inherit;
}

/* - CompositeConditions - */

/* always the outermost condition*/
.ruleDebugView .CompositeCondition {
	/*in some cases the padding would have been overwritten by its children*/
	padding: 8px 0 8px 0 !important;
}

.ruleDebugView .BracedCondition {
	padding: 4px 0 4px 0;
}

.ruleDebugView .Conjunction {
	padding: 4px 0 4px 0;
}

.ruleDebugView .Disjunction {
	padding: 4px 0 4px 0;
}

/* -- ThenAction -- */

.ThenAction {
	background-color: inherit;
}

.ruleDebugView .ThenAction {
	padding: 8px 0 8px 0;
}

/* -- Exceptions -- */

.exceptTrue .ExceptionCondition {
	background-color: #CFFFCF;
}

.exceptFalse .ExceptionCondition {
	background-color: #FFCFCF;
}

.exceptUnknown .ExceptionCondition {
	background-color: #CFD5FF;
}

.elseFired .ElseAction {
	background-color: #CFFFCF;
}

.unknownFired .UnknownAction {
	background-color: #CFFFCF;
}

.exceptTrue .UnknownAction {
	background-color: transparent !important;
}

/* -- mouse-over border highlighting -- */

/* borders have slightly different colors from their corresponding condition highlighters,
to make the distinction between border and underlying color easier */

.BracedCondition.conditionTrue.hoverIntent,
.CompositeCondition.conditionTrue.hoverIntent {
	border: 1px solid limegreen;
}

.BracedCondition.conditionFalse.hoverIntent,
.CompositeCondition.conditionFalse.hoverIntent {
	border: 1px solid indianred;
}

.BracedCondition.conditionUnknown.hoverIntent,
.CompositeCondition.conditionUnknown.hoverIntent {
	border: 1px solid cornflowerblue;
}