<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-Hermes" version="0.0.1">
	
	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
		<import plugin-id="KnowWE-Basic-Plugins" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="TimeLineHandler">
		<parameter id="class"
			value="de.d3web.we.hermes.taghandler.TimeLineHandler" />
		<parameter id="name" value="TimeLineHandler" />
		<parameter id="description" value="TagHandler TimeLineHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="Hermes.js" />
		<parameter id="css" value="hermes.css" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="LocalTimeEventsHandler">
		<parameter id="class"
			value="de.d3web.we.hermes.taghandler.LocalTimeEventsHandler" />
		<parameter id="name" value="LocalTimeEventsHandler" />
		<parameter id="description" value="TagHandler LocalTimeEventsHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="Hermes.js" />
		<parameter id="css" value="hermes.css" />
	</extension>
	
		<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="TimeEventSearchHandler">
		<parameter id="class"
			value="de.d3web.we.hermes.taghandler.TimeEventSearchHandler" />
		<parameter id="name" value="TimeEventSearchHandler" />
		<parameter id="description" value="TagHandler TimeEventSearchHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="Hermes.js" />
		<parameter id="css" value="hermes.css" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="ShowTimeEventsForConceptTagHandler">
		<parameter id="class"
			value="de.d3web.we.hermes.taghandler.ShowTimeEventsForConceptTagHandler" />
		<parameter id="name" value="ShowTimeEventsForConceptTagHandler" />
		<parameter id="description" value="TagHandler ShowTimeEventsForConceptTagHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="Hermes.js" />
		<parameter id="css" value="hermes.css" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="ShowMapHandler">
		<parameter id="class"
			value="de.d3web.we.hermes.taghandler.ShowMapHandler" />
		<parameter id="name" value="ShowMapHandler" />
		<parameter id="description" value="TagHandler ShowMapHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="Hermes.js" />
		<parameter id="css" value="hermes.css" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="ShowMapForConceptHandler">
		<parameter id="class"
			value="de.d3web.we.hermes.taghandler.ShowMapForConceptHandler" />
		<parameter id="name" value="ShowMapForConceptHandler" />
		<parameter id="description" value="TagHandler ShowMapForConceptHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="Hermes.js" />
		<parameter id="css" value="hermes.css" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="ShowMapForTopicHandler">
		<parameter id="class"
			value="de.d3web.we.hermes.taghandler.ShowMapForTopicHandler" />
		<parameter id="name" value="ShowMapForTopicHandler" />
		<parameter id="description" value="TagHandler ShowMapForTopicHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="Hermes.js" />
		<parameter id="css" value="hermes.css" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="SetTimeEventFilterLevelHandler">
		<parameter id="class"
			value="de.d3web.we.hermes.taghandler.SetTimeEventFilterLevelHandler" />
		<parameter id="name" value="SetTimeEventFilterLevelHandler" />
		<parameter id="description" value="TagHandler SetTimeEventFilterLevelHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="Hermes.js" />
		<parameter id="css" value="hermes.css" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="VersionCountTagHandler">
		<parameter id="class"
			value="de.d3web.we.hermes.taghandler.VersionCountTagHandler" />
		<parameter id="name" value="VersionCountTagHandler" />
		<parameter id="description" value="TagHandler VersionCountTagHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="Hermes.js" />
		<parameter id="css" value="hermes.css" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="QuizHandler">
		<parameter id="class"
			value="de.d3web.we.hermes.taghandler.QuizHandler" />
		<parameter id="name" value="QuizHandler" />
		<parameter id="description" value="TagHandler QuizHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="Hermes.js" />
		<parameter id="css" value="hermes.css" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="CreateMapHandler">
		<parameter id="class"
			value="de.d3web.we.hermes.taghandler.CreateMapHandler" />
		<parameter id="name" value="CreateMapHandler" />
		<parameter id="description" value="TagHandler CreateMapHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="Hermes.js" />
		<parameter id="css" value="hermes.css" />
		<!-- This is done in Html in CreateMapHandler
		<parameter id="script" value="http://maps.google.com/maps?file=api&amp;v=2.x&amp;key=0" />
		<parameter id="script" value="CreateMap.js" />
		-->
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="TimeEventType">
		<parameter id="class"
			value="de.d3web.we.hermes.kdom.TimeEventType" />
		<parameter id="name" value="TimeEventType" />
		<parameter id="description" value="KnowWEObjectType TimeEventType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="3.9" />
		<parameter id="scope" value="root" />
		<parameter id="script" value="Hermes.js" />
		<parameter id="css" value="hermes.css" />
	</extension>
	
		<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="TimeEventNew">
		<parameter id="class"
			value="de.d3web.we.hermes.kdom.event.TimeEventNew" />
		<parameter id="name" value="TimeEventNew" />
		<parameter id="description" value="KnowWEObjectType TimeEventNew" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
		<parameter id="scope" value="root" />
		<parameter id="script" value="Hermes.js" />
		<parameter id="css" value="hermes.css" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="LocationDefinitionType">
		<parameter id="class"
			value="de.d3web.we.hermes.maps.LocationDefinitionType" />
		<parameter id="name" value="LocationDefinitionType" />
		<parameter id="description" value="KnowWEObjectType LocationDefinitionType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="3.8" />
		<parameter id="scope" value="root" />
		<parameter id="script" value="Hermes.js" />
		<parameter id="css" value="hermes.css" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="MapType">
		<parameter id="class"
			value="de.d3web.we.hermes.maps.MapType" />
		<parameter id="name" value="MapType" />
		<parameter id="description" value="KnowWEObjectType MapType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
		<parameter id="script" value="Hermes.js" />
		<parameter id="css" value="hermes.css" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="PropertyDefinitionType">
		<parameter id="class"
			value="de.d3web.we.kdom.dashTree.propertyDefinition.PropertyDefinitionType" />
		<parameter id="name" value="PropertyDefinitionType" />
		<parameter id="description" value="KnowWEObjectType PropertyDefinitionType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
		<parameter id="script" value="Hermes.js" />
		<parameter id="css" value="hermes.css" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="SearchTimeEventsAction">
		<parameter id="class"
			value="de.d3web.we.hermes.action.SearchTimeEventsAction" />
		<parameter id="name" value="SearchTimeEventsAction" />
		<parameter id="description" value="Action SearchTimeEventsAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="SetFilterLevelAction">
		<parameter id="class"
			value="de.d3web.we.hermes.action.SetFilterLevelAction" />
		<parameter id="name" value="SetFilterLevelAction" />
		<parameter id="description" value="Action SetFilterLevelAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="InsertRelationAction">
		<parameter id="class"
			value="de.d3web.we.hermes.action.InsertRelationAction" />
		<parameter id="name" value="InsertRelationAction" />
		<parameter id="description" value="Action InsertRelationAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="StartQuizAction">
		<parameter id="class"
			value="de.d3web.we.hermes.action.StartQuizAction" />
		<parameter id="name" value="StartQuizAction" />
		<parameter id="description" value="Action StartQuizAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="StopQuizAction">
		<parameter id="class"
			value="de.d3web.we.hermes.action.StopQuizAction" />
		<parameter id="name" value="StopQuizAction" />
		<parameter id="description" value="Action StopQuizAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="SetAnswerAction">
		<parameter id="class"
			value="de.d3web.we.hermes.action.SetAnswerAction" />
		<parameter id="name" value="SetAnswerAction" />
		<parameter id="description" value="Action SetAnswerAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="PageAppendHandler"
		id="AppendTagEditHandler">
		<parameter id="class"
			value="de.d3web.we.hermes.AppendTagEditHandler" />
		<parameter id="name" value="AppendTagEditHandler" />
		<parameter id="description" value="PageAppendHandler AppendTagEditHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="Hermes.js" />
		<parameter id="css" value="hermes.css" />
	</extension>
	
	<!-- Uncomment this to turn Page access logger on -->
	<!--
	<extension plugin-id="KnowWEExtensionPoints" point-id="PageAppendHandler"
		id="PageLoggerHandler">
		<parameter id="class"
			value="de.d3web.we.hermes.logger.PageLoggerHandler" />
		<parameter id="name" value="PageLoggerHandler" />
		<parameter id="description" value="PageAppendHandler PageLoggerHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="Hermes.js" />
	</extension>
	-->
	
</plugin>