.applicationlogo a:hover {
    background-position:0px 0px; /*prevent logo hopping*/
}
a {
    color: #0063C9;
    text-decoration:underline;
}
a:hover {
    text-decoration: none;

}
.dialogstyle h4{
    padding: 5px 0 5px 10px;

}
    
.dialogstyle .trFollow{     /* Folgefragen */
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: #8B2500;
    border-top: 1px solid #8B2500;
    width: 100%;
    height: 20px;
}

.dialogstyle .labelcellEven {
    width: 220px;
    margin: 0px 0px 0px 25px;
}
.dialogstyle .labelcellOdd {
    width: 220px;
    margin: 0px 0px 0px 25px;
}

.dialogstyle .labelcellFollow {
    width: 220px;
    margin: 0px 0px 0px 25px;
}
.dialogstyle .fieldcell {
    width: 70%;
}