
.FlowchartGroup {
	padding: 1px;
	background-color: white;
}

.FlowchartGroup_hover {
	padding: 1px;
	background-color: black;
}

.Flowchart {
	position:	relative;
	#background-color: #eee;
	background-image: url(../image/grid_10.png);
	background-position: 1px 1px;
	overflow:	auto;
}

.FlowchartGroup .inputFocus {
	position:	absolute;
	overflow:	hidden;
	width: 0px;
	height: 0px;
	top: 5px;
	left: 5px;
	z-index: -100;
}

.Flowchart .h_snapline {
	position: absolute;
	overflow: hidden;
	border-top: 1px dotted black;
	z-index: 0;
}

.Flowchart .v_snapline {
	position: absolute;
	overflow: hidden;
	border-left: 1px dotted black;
	z-index: 0;
}

.FlowchartGroup .trash {
	position: absolute; 
	overflow: visible; 
	width: 64px; 
	height: 64px;
	left: -5px;
	top: -65px;
	background-image: url(../image/trash64.png);
	z-index:1000;
}

.FlowchartGroup .trash_hover {
	background-image: url(../image/trash64-highlight.png);
}

