.GuardEditor {
	font-family: Arial, Helvetica;
	font-size: 8pt;
	white-space: nowrap;
}

.GuardEditor .value {
}

.GuardEditor input {
	width: 40px;
	margin-right: 4px;
}

.GuardEditor input.formula{
	width: 100px;
	margin-right: 4px;
}

.Rule .guard .addedText {
	color: green;
}

.Rule .guard .removedText {
	color: red;
}

.Rule .guard .changedText {
	color: blue;
}
